.container {
	width: 100%;
	max-width: 1360px;
	margin: 0 auto;
	position: relative;

	.headline {
		padding-top: 80px;

		h2 {
			color: #fff;
			margin-bottom: 0;
		}

		p {
			color: #fff;
			font-size: 18px;
		}
	}
}

.full-section {

	.flickity-slider {
		margin-left: -425px;
	}

	.card {
		background: #fff;
		border-radius: 3px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
		transition: all .2s ease-out;
		text-align: center;
		padding: 40px 0 120px;

		&:hover {
			box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
			margin: -5px 0 0;
		}

		.image {
			width: 210px;
			height: 210px;
			background-size: cover;
			display: block;
			border-radius: 210px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			margin: 0 auto;
		}
		
		.info {
			padding: 25px 30px;
			font-size: 15px;
			line-height: 26px;

			position: absolute;
			bottom: 0;
			width: 100%;

			> div {
				width: 48%;
				display: inline-block;
				text-align: left;
				font-size: 22px;
				font-weight: bold;
				color: #202123;

				> span {
					display: block;
					text-transform: uppercase;
					font-size: 14px;
					color: #909298;
					font-weight: 600;
				}
			}

			h3 {
				margin-top: 0;
				margin-bottom: 8px;

				a {
					color: #094BDA;
					font-weight: bold;
					font-size: 22px;
					border-bottom: none !important;

					&:hover {
						color: #1353E2;
					}
				}

				& + a {
					color: #555;

					&:hover {
						color: lighten(#1353E2, 12%);
					}
				}
			}

			.taggar {
				margin-top: 15px;

				a {
					margin-right: 10px;
					color: #999;

					&:hover {
						color: #333;
					}
				}
			}
		}
	}

	.carousel-cell {
		@include bp(sm) {
			width: 400px;
		}
	}
}

.featured-services {

}


.full-section .flickity-viewport {
	padding: 30px 0 50px;
	box-sizing: content-box;
}

.carousel-cell {
    width: 90%;
    margin-right: 30px;
    counter-increment: gallery-cell;
}

.flickity-page-dots {

	.dot {
		background: #fff;
	}
}

#influencers {
	width: 100%;
	background: url('../img/influencer-bg.jpg') center no-repeat;
	background-size: cover;

	&:after {
		content: '';
		background: url('../img/plane.svg') top left no-repeat;
		width: 1200px;
		height: 155px;
		position: absolute;
		top: 0;
		left: 0;
	}

	.Index-page-content {
	    max-width: 100%;
	    width: 100%;
	    padding: 0 0 100px;
	    position: relative;
	}
}

.gallery:after {
  content: 'flickity';
  display: none; /* hide :after */
}

@media screen and ( min-width: 768px ) {
  /* disable Flickity for large devices */
  .gallery:after {
    content: '';
  }
}