body {
  background: url('http://www.hennessy.com/us/site-static/images/bg-gradient_sm_2x.4255c3fcd7fc.jpg') top center repeat-y;
  background-size: 100%;
}

.Index-page {
  background: none;
}

.block-container {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	position: relative;

	.block-content {
		width: 100%;
		padding: 50px;
		transition: all .3s ease-out;

		&.light {
			background: #fff;
			color: #242424;
		}
	}

	&.collection {

		.block-content {
			max-width: 560px;
			margin: 0 0 -150px -130px;
			box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 30px rgba(0, 0, 0, 0.4), 0 3px 5px rgba(0, 0, 0, 0.3);
		}
	}

	&.image-right {
		flex-direction: row-reverse;
	}
}