/* MAD-RIPPLE EFFECT */
.ripple {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  /* to contain zoomed ripple */
  transform: translateZ(0);
  border-radius: inherit;
  /* inherit from parent (rounded buttons etc) */
  pointer-events: none;
  /* allow user interaction */
}

.rippleWave {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 50%;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  background: rgba(190, 190, 190, 0.5);
  opacity: 0.45;
  animation: ripple 2s forwards;
  -webkit-animation: ripple 2s forwards;
}

@keyframes ripple-shadow {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  20% {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes ripple-shadow {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  20% {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes ripple {
  to {
    transform: scale(24);
    opacity: 0;
  }
}
@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(24);
    opacity: 0;
  }
}
@font-face {
  font-family: "Euclid Bold";
  src: url("https://static1.squarespace.com/static/5f3c2536224e97215ee92153/t/5f3c2881f065bc72c8a8f677/1597778049917/EuclidTriangle-Bold.woff2") format("woff2"), url("https://static1.squarespace.com/static/5f3c2536224e97215ee92153/t/5f3c287dbef7286de6bdefff/1597778045211/EuclidTriangle-Bold.woff") format("woff"), url("https://static1.squarespace.com/static/5f3c2536224e97215ee92153/t/5f3c28781a3b780f6f870449/1597778041008/EuclidTriangle-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Euclid";
  src: url("https://static1.squarespace.com/static/5f3c2536224e97215ee92153/t/5f3c289886429d53af6cffdf/1597778072644/EuclidTriangle-Regular.woff2") format("woff2"), url("https://static1.squarespace.com/static/5f3c2536224e97215ee92153/t/5f3c289390798650a9753b67/1597778067629/EuclidTriangle-Regular.woff") format("woff"), url("https://static1.squarespace.com/static/5f3c2536224e97215ee92153/t/5f3c288f56c5bd7958f78a8f/1597778064035/EuclidTriangle-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Semi";
  src: url("https://static1.squarespace.com/static/5f3c2536224e97215ee92153/t/5f3c28a10a025c7b7f74f502/1597778081932/EuclidTriangle-Semibold.woff2") format("woff2"), url("https://static1.squarespace.com/static/5f3c2536224e97215ee92153/t/5f3c289e56c5bd7958f78bc4/1597778079405/EuclidTriangle-Semibold.woff") format("woff"), url("https://static1.squarespace.com/static/5f3c2536224e97215ee92153/t/5f3c289c11bbe86946d3c375/1597778076931/EuclidTriangle-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Euclid Semi";
}

.btn-gray {
  background: #edf0f3;
  color: #222;
  transition: all 0.2s ease-out;
}
.btn-gray:hover {
  background: #fc0c8c;
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.no-touch .primary-button-style-solid .sqs-block-button-element--medium:hover {
  background: #111;
  border-color: #111;
  opacity: 1;
}

.flex-content-center {
  display: flex;
  justify-content: center;
}

.flex-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mt-10 {
  margin-top: 10px;
}

.mr-30 {
  margin-right: 30px;
}

.small {
  font-size: 13px;
}

.flickity-viewport {
  transition: 0.3s ease-out;
}

.text-headline {
  text-align: center;
}
.text-headline span {
  display: block;
  font-size: 18px;
  margin-top: 10px;
}
.text-headline span a {
  color: #2262da;
}

.carousel.quotes {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.carousel.quotes .carousel-cell {
  width: 100%;
  padding: 30px;
}
.carousel.quotes .carousel-content {
  background: #fff;
  border-radius: 12px;
  padding: 30px;
}
.carousel.quotes .carousel-content span span {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #777;
}
.carousel.quotes .carousel-content .name {
  font-weight: 600;
}

[data-section-id="5f48282af289147842a2f8dd"] .col .row.sqs-row {
  mix-blend-mode: multiply;
}
[data-section-id="5f48282af289147842a2f8dd"] img {
  opacity: 0.6;
  transition: 0.2 ease-out;
}
[data-section-id="5f48282af289147842a2f8dd"] img:hover {
  opacity: 1;
}

.fr {
  float: right;
}

.link-list-h2 h2 {
  margin: 0;
}

h2 a {
  transition: 0.2s ease-out;
  display: block;
  padding: 25px 30px;
  border-radius: 6px;
}
h2 a:hover {
  color: #ff008c;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

[data-section-id="5f480fa6d5429572bd898400"] {
  min-height: 150vh;
}
