@font-face {
  font-family: 'brandberry-font';
  src: url("https://jonathanolsen.github.io/brandberry/fonts/brandberry/brandberry-font.eot");
  src: url("https://jonathanolsen.github.io/brandberry/fonts/brandberry/brandberry-font.eot?#iefix") format("embedded-opentype"), url("https://jonathanolsen.github.io/brandberry/fonts/brandberry/brandberry-font.woff") format("woff"), url("https://jonathanolsen.github.io/brandberry/fonts/brandberry/brandberry-font.svg") format("svg"), url("https://jonathanolsen.github.io/brandberry/fonts/brandberry/brandberry-font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'brandberry-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-development:before {
  content: "\ea3a"; }

.icon-strategy:before {
  content: "\e9ea"; }

.icon-design:before {
  content: "\e8f7"; }

.icon-optimization:before {
  content: "\e83e"; }

@font-face {
  font-family: 'appetiteregular';
  src: url("https://jonathanolsen.github.io/brandberry/fonts/appetite/appetite_contrast-webfont.eot");
  src: url("https://jonathanolsen.github.io/brandberry/fonts/appetite/appetite_contrast-webfont.eot?#iefix") format("embedded-opentype"), url("https://jonathanolsen.github.io/brandberry/fonts/appetite/appetite_contrast-webfont.woff2") format("woff2"), url("https://jonathanolsen.github.io/brandberry/fonts/appetite/appetite_contrast-webfont.woff") format("woff"), url("https://jonathanolsen.github.io/brandberry/fonts/appetite/appetite_contrast-webfont.svg") format("svg"), url("https://jonathanolsen.github.io/brandberry/fonts/appetite/appetite_contrast-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.appetite {
  font-family: 'appetiteregular'; }

#navbar-bg.transparent .fluid-logo.twenty #logo {
  padding-top: 40px; }
#navbar-bg.transparent .fluid-menu {
  margin-top: 20px; }

section#thumbnails .thumb .thumb-inner .thumb-hover h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 50px; }
  section#thumbnails .thumb .thumb-inner .thumb-hover h3 span {
    margin-top: 16px;
    font-size: 15px; }

#content_kqqdd8ffo .live-image {
  max-width: 70px !important; }

.page-id-142 .cover-image {
  max-height: 700px;
  background-position: center center !important; }
.page-id-142 .fullscreen-cover {
  max-height: 700px; }

.page-id-142 .team-list {
  display: flex;
  flex-wrap: wrap; }
  .page-id-142 .team-list .team-member {
    width: 30%;
    float: left;
    padding: 30px;
    box-sizing: border-box;
    background: #f6f7f8;
    margin: 0 1.5% 30px;
    transition: .2s all ease-out;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 3px;
    text-align: center; }
    .page-id-142 .team-list .team-member:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 3px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      transition: opacity .2s ease-in-out;
      top: 0;
      left: 0;
      z-index: -1; }
    .page-id-142 .team-list .team-member:hover {
      background: #fff;
      transform: scale(1.04);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }
      .page-id-142 .team-list .team-member:hover:after {
        opacity: 1; }
    .page-id-142 .team-list .team-member h3, .page-id-142 .team-list .team-member p {
      text-align: center; }
    .page-id-142 .team-list .team-member h3 span {
      display: block;
      font-size: 14px;
      text-transform: none;
      color: #999;
      font-weight: 300;
      margin-top: 6px;
      font-style: italic;
      letter-spacing: 1px; }
    .page-id-142 .team-list .team-member p {
      min-height: 100px; }
    .page-id-142 .team-list .team-member ul {
      margin: 15px 0 0;
      padding: 0;
      display: flex;
      justify-content: center; }
      .page-id-142 .team-list .team-member ul li {
        list-style-type: none;
        float: left; }
        .page-id-142 .team-list .team-member ul li a {
          display: inline-block;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 22px;
          border-radius: 4px;
          transition: all .1s ease-out; }
          .page-id-142 .team-list .team-member ul li a:hover {
            background: #219BCC;
            color: #fff; }
    .page-id-142 .team-list .team-member .btn {
      margin-top: 18px;
      display: inline-block; }
.page-id-142 .grid-container {
  width: 100%;
  max-width: 1360px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  color: #3e3947; }
.page-id-142 .page-services .grid-container {
  max-width: 1600px !important;
  background: none;
  margin: 0 auto; }
.page-id-142 .services .row {
  display: flex;
  margin: 0; }
  .page-id-142 .services .row > div {
    background: #fff;
    text-align: center;
    padding: 0;
    box-shadow: 0 0 1px #9c9ca2;
    transition: .2s ease-out; }
    .page-id-142 .services .row > div > ul {
      text-align: left;
      border-top: 1px solid #F0F8FA;
      padding: 20px 30px;
      list-style-type: none;
      margin-left: 0;
      margin-bottom: 0; }
      .page-id-142 .services .row > div > ul li {
        font-family: "Droid serif", georgia, serif;
        font-style: italic;
        margin: 10px 0;
        padding-left: 44px;
        color: #737f82;
        position: relative; }
        .page-id-142 .services .row > div > ul li:before {
          background: #C1CCD1;
          width: 22px;
          height: 2px;
          position: absolute;
          top: 9px;
          left: 0;
          content: ''; }
    .page-id-142 .services .row > div .headline {
      padding: 50px 0; }
      .page-id-142 .services .row > div .headline > i {
        font-size: 40px; }
      .page-id-142 .services .row > div .headline h2 {
        margin-bottom: 0;
        font-size: 26px;
        margin-top: 10px; }
  .page-id-142 .services .row .span-3 {
    width: 25%; }
.page-id-142 .approach .row {
  display: flex;
  transition: .1s all ease-out;
  /* &:hover {
  	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  	position: relative;
  	transform: scale(1.04);
  } */ }
  .page-id-142 .approach .row > div {
    background: #fff;
    text-align: center;
    padding: 0;
    display: flex;
    align-content: center;
    box-shadow: 0 0 1px #9c9ca2;
    transition: .2s ease-out; }
    .page-id-142 .approach .row > div h3 {
      font-size: 22px;
      font-weight: bold;
      text-transform: none; }
    .page-id-142 .approach .row > div h4.appetite {
      font-size: 80px;
      line-height: 0;
      color: #33333e;
      align-self: center; }
    .page-id-142 .approach .row > div:first-of-type {
      justify-content: center; }
  .page-id-142 .approach .row .content {
    max-width: 84%;
    padding: 50px;
    text-align: left; }
