/*
#navbar-bg {
	height: 86px;

	.fourty #logo {
		padding-top: 26px;
	}

	.fluid-menu {
		margin-top: -14px;
	}

	&.transparent {
		height: 116px;
	}
}

*/
#navbar-bg.transparent .fluid-logo.twenty #logo {
  padding-top: 40px; }
#navbar-bg.transparent .fluid-menu {
  margin-top: 20px; }

section#thumbnails .thumb .thumb-inner .thumb-hover h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 50px; }
  section#thumbnails .thumb .thumb-inner .thumb-hover h3 span {
    margin-top: 16px;
    font-size: 15px; }

#content_kqqdd8ffo .live-image {
  max-width: 70px !important; }

.page-id-142 .cover-image {
  max-height: 600px;
  background-position: center center !important; }
.page-id-142 .fullscreen-cover {
  max-height: 600px; }
