


.sqs-slide-animate {
	background: #000 !important;
	width: 0;
	transition: all .5s ease-in-out;
	left: auto;
	right: 0;

	&.animate {
		width: 100%;
	}

	.sqs-slide-layer.full-width-height {
		transition: all .5s ease-in-out;
		opacity: 0;

		&.animate {
			opacity: 1;
		}
	}

	.sqs-slide-layer-content.content-copy {
		position: absolute;
		left: 0;
		opacity: 0;

		&.animate {
			opacity: 1;
		}
	}

	.sqs-slide-layer-content.content-gallery {
		width: 100%;
	    position: absolute;
	    z-index: 2;
	    right: 0;
	    transition: all .5s ease-in-out;
	    z-index: 3;

	    &.animate {
	    	width: 50%;
	    }
	}
}








