
// Breakpoints

$S:        768px;
$M:        992px;   
$L:        1200px; 

@mixin bp($point) {
	@if $point == xs {
		@content;
	}
	@else if $point == xs-sm {
		@media (max-width: 767px)  { @content ; }
	}
	@else if $point == xs-md {
		@media (max-width: 991px)  { @content ; }
	}
	@else if $point == xs-lg {
		@media (max-width: 1199px)  { @content ; }
	}
	@else if $point == sm {
		@media (min-width: 768px) { @content ; }
	}
	@else if $point == sm-md {
		@media (min-width: 768px) and (max-width: 991px)  { @content ; }
	}
	@else if $point == sm-lg {
		@media (min-width: 768px) and (max-width: 1199px)  { @content ; }
	}
	@else if $point == md {
		@media (min-width: 992px) { @content ; }
	}
	@else if $point == md-lg {
		@media (min-width: 992px) and (max-width: 1199px)  { @content ; }
	}
	@else if $point == lg {
		@media (min-width: 1200px) { @content ; }
	}
}


$form-height:   64px;








.index-section-wrapper .content {
	max-width: 1340px !important;
}



.locked {
	padding: 8px 24px;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: Montserrat;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #fff;
	background-color: rgba(28,30,33,.2);
	border-color: rgba(28,30,33,.86);
	display: inline-block;
	border-radius: 3px;
}

#join-section {

	&.index-section.page {

		.content {

			.sqs-block.code-block {
				padding-top: 0;
				max-width: 750px;
			}
		}
	}

	.index-section-image {

		@include bp(xs-sm) {
			img {
				left: -600px !important;
			}
		}

		@include bp(sm-md) {
			img {
				margin-left: -200px;
			}
		}
	}

	@include bp(xs-sm) {
		.page-content {
			h1 {
				font-weight: 600;

				@include bp(xs-sm) {
					font-size: 32px !important;
				}
			}

			.sqs-block-content {
				text-align: center;

				p {
					font-size: 20px;

					@include bp(xs-sm) {
						font-size: 18px !important;
						line-height: 28px;
					}
				}
			}
		}

		h2 {
			font-size: 20px !important;
		}

		p {
			font-size: 16px;
			line-height: 25px;
		}
	}

	@include bp(sm-md) {

		.page-content {
			h1 {
				text-align: center;
			}

			.sqs-block-content {
				text-align: center;

				p {
					margin: 0 auto;
				}
			}

			.form-wrapper {
				margin: 0 auto;
			}
		}
	}
}

@media only screen and (max-device-height: 1024px) {
	.index-section-wrapper .content.has-main-media:not(.gallery-content) {
		padding-bottom: 0 !important;
	}
}

@media only screen and (max-device-height: 768px) {

	#footer-section {
		padding: 80px 0 360px !important;
	}
}

#collection-overview-section {

	@include bp(xs-sm) {

		h2, p {
			text-align: center;
		}
	}
}


#story-section {
	background: url('https://jonathanolsen.github.io/sites/ashai/assets/img/story-4.jpg') #FAF2EF center left no-repeat;
	background-size: cover;

	@include bp(xs-sm) {
		background-position: center;
	}

	@include bp(sm) {
		padding: 40px 0 80px;
	}

	@include bp(sm-md) {
		background-position: center;

		.our-story {

			.container {
				max-width: 480px;
			}
		}
	}
}

.our-story {

	.container {
		width: 100%;
		max-width: 660px;
		font-weight: 300;
		color: #afa4b1;
	}

	h2 {
		color: #fff;
		font-weight: 500;

		@include bp(sm) {
			font-size: 36px;
		}
	}

	p {
		font-size: 14px;
		line-height: 24px;

		@include bp(sm) {
			font-size: 15px;
			line-height: 26px;
		}

		@include bp(md) {
			font-size: 16px;
			line-height: 26px;
		}

		@include bp(lg) {
			font-size: 18px;
			line-height: 30px;
		}
	}

	.close-box {
		color: #423e48;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 15px;
		font-weight: bold;
	}
}

#instagram-section {

	.index-section-wrapper {
		background: #010101;
	}
}


#ashai-twelve {
  
  .grid {
	max-width: 1400px;
  }
  
  .productListing {
	padding: 40px 0;
  }
  
  .prodThumb {
	overflow: auto !important;
	padding: 20px;
	box-sizing: border-box;
	
	&:nth-child(1) {
	  animation-delay: .4s;
	}
	
	&:nth-child(2) {
	  animation-delay: .6s;
	}

	&:nth-child(3) {
	  animation-delay: .8s;
	}
	
	&:nth-child(4) {
	  animation-delay: 1s;
	}
	
	&:nth-child(5) {
	  animation-delay: 1.2s;
	}

	&:nth-child(6) {
	  animation-delay: 1.4s;
	}
	
	&:nth-child(7) {
	  animation-delay: 1.5s;
	}
	
	&:nth-child(8) {
	  animation-delay: 1.7s;
	}

	&:nth-child(9) {
	  animation-delay: 1.9s;
	}
	
	&:nth-child(10) {
	  animation-delay: 2.1s;
	}
	
	&:nth-child(11) {
	  animation-delay: 2.3s;
	}

	&:nth-child(12) {
	  animation-delay: 2.5s;
	}
	
	&.released {
		&:hover {
		 
		  
		  a {
			transform: translateY(-10px);
			
			&:after {
			  opacity: .7;
			}
		  }
		}
	  
	  a {
		cursor: pointer !important;
		transition: all .2s ease-out;
		
		&:after {
		  content: '';
		  width: 100%;
		  height: 100%;
		  background: rgba(14,14,14,0);
		  background: -moz-linear-gradient(top, rgba(14,14,14,0) 0%, rgba(14,14,14,0.01) 1%, rgba(0,0,0,1) 100%);
		  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(14,14,14,0)), color-stop(1%, rgba(14,14,14,0.01)), color-stop(100%, rgba(0,0,0,1)));
		  background: -webkit-linear-gradient(top, rgba(14,14,14,0) 0%, rgba(14,14,14,0.01) 1%, rgba(0,0,0,1) 100%);
		  background: -o-linear-gradient(top, rgba(14,14,14,0) 0%, rgba(14,14,14,0.01) 1%, rgba(0,0,0,1) 100%);
		  background: -ms-linear-gradient(top, rgba(14,14,14,0) 0%, rgba(14,14,14,0.01) 1%, rgba(0,0,0,1) 100%);
		  background: linear-gradient(to bottom, rgba(14,14,14,0) 0%, rgba(14,14,14,0.01) 1%, rgba(0,0,0,1) 100%);
		  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#000000', GradientType=0 );
		  position: absolute;
		  top: 0;
		  left: 0;
		  z-index: -1;
		  opacity: 0;
		  transition: .2s ease-out;
		}
	  }
	}
	
	a {
	  background: #000;
	  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1), 0 15px 37px rgba(0, 0, 0, 0.04), 0 5px 16px rgba(0,0,0,0.9);
	  width: 100%;
	  height: 400px;
	  transition: all .2s ease-out;
	  box-sizing: border-box;
	  display: flex;
	  justify-content: space-between;
	  flex-direction: column;
	  font-size: 16px;
	  text-transform: uppercase;
	  color: #a5a5a5;
	  padding: 35px;
	  cursor: default;
	  border-radius: 4px;
	  
	  .kanji {
		font-size: 100px;
		color: #fff;
	  }
	  
	  .name {
		
		span {
		  text-transform: uppercase;
		  font-size:12px;
		  display:block;
		  margin-top: 12px;
		  opacity: .5;
		  color:#fff;
		}
	  }
	}
	
	&.shigoto a {
	  background: url('../img/shigoto-twelve_mini.jpg') top center no-repeat;
	  background-size: cover;
	}
  }
}

#ashai-twelve-page {
	background: url('../img/twelve-bg_mini.jpg') top center no-repeat;
	background-size: cover;
	max-width: 1600px !important;
	  
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		background: rgba(14,14,14,0);
		background: -moz-linear-gradient(top, rgba(14,14,14,0) 0%, rgba(14,14,14,0.01) 1%, rgba(0,0,0,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(14,14,14,0)), color-stop(1%, rgba(14,14,14,0.01)), color-stop(100%, rgba(0,0,0,1)));
		background: -webkit-linear-gradient(top, rgba(14,14,14,0) 0%, rgba(14,14,14,0.01) 1%, rgba(0,0,0,1) 100%);
		background: -o-linear-gradient(top, rgba(14,14,14,0) 0%, rgba(14,14,14,0.01) 1%, rgba(0,0,0,1) 100%);
		background: -ms-linear-gradient(top, rgba(14,14,14,0) 0%, rgba(14,14,14,0.01) 1%, rgba(0,0,0,1) 100%);
		background: linear-gradient(to bottom, rgba(14,14,14,0) 0%, rgba(14,14,14,0.01) 1%, rgba(0,0,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#000000', GradientType=0 );
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		opacity: .7;
	}
}


@include bp(sm) {

	.oneThird {
		width: 33.33%;
	}
}

.gridJustify.centerColumns {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
}

.gridJustify {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
}

.text-center {
	text-align: center;
}

.flexGrid {
	padding: 0 10px;
}

.grid {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
}

.flexGrid.flexItem:not(.flexGrid), .flexGrid .flexGrid:not(.cartRow):not(.flexItem) {
	padding-left: 0;
	padding-right: 0;
}

.gridJustify.centerColumns {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
}

.gridJustify {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	box-sizing: border-box;
}




.sqs-gallery-block-slideshow.sqs-gallery-block-meta-position-bottom .meta-inside {
	padding: 30px 40px 30px;
}

.sqs-gallery-block-slideshow .meta .meta-title {
	font-size: 20px;
	text-transform: uppercase;
	font-family: astoria, montserrat;
}

.sqs-gallery-block-slideshow .meta .meta-description p {
	font-size: 17px;
	line-height: 1.5em;
}





#gallery-section {
	background-color: #010101 !important;
}





#footer-section {
	background: url('../img/sword-footer.jpg') top center no-repeat;
	background-size: cover;
	max-width: 100%;

	@include bp(xs-sm) {
		background-position: 70% 0;
		padding: 0 0 400px;
	}

	@include bp(sm) {
		padding: 0px 0px 250px;
	}

	@include bp(md) {
		padding: 80px 0 240px;
	}

	.sqs-block.html-block.sqs-block-html {

		h1 {
			color: #fff;
		}

		p {
			color: #999;
			font-weight: 300;

			strong {
				color: #fff;
			}
		}
	}

	.form-wrapper {
		margin: 0 auto;
	}
}












#join-section,
#story-section,
#footer-section {

label.title {
	display: none;
}

input.field-element {
	margin: 0;
	height: 50px;
	font-size: 16px;
	padding: 8px 20px;
	border: none;
	box-sizing: border-box;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

	@include bp(md) {
		height: $form-height;
	}
}

.form-button-wrapper .button {
	padding: 18px 30px;
	border-radius: 0 3px 3px 0;
	display: block;
	margin-left: 0px;
	text-transform: uppercase;
	font-size: 16px;
	height: 50px;
	box-sizing: border-box;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	background: #CF0232;
	font-family: montserrat, 'proxima nova', helvetica, arial;
	color: #fff;
	width: 100%;

	@include bp(sm) {
		width: auto;
	}

	@include bp(md) {
		height: $form-height;
		padding: 20px 30px;
	}
}

.form-wrapper {
	max-width: 600px;

	.field-list {
		width: 100%;
		float: left;

		@include bp(sm) {
			width: 60%;
		}

		@include bp(xs-sm) {
			.field {
				margin: 0;
			}
		}
	}

	.form-button-wrapper {
		width: 100%;
		float: right;

		@include bp(sm) {
			width: 40%;
		}
	}
}

}



h4 {
	font-size: 26px;
	font-weight: normal;
	color: #444;
	font-family: 'Astoria', 'Calluna Sans', 'Helvetica Neue', sans-serif, arial;
}









.details-matter {

	h1 {
		text-align: center;
		color: #fff !important;

		span {
			background: url('../img/details-matter.svg') no-repeat;
			width: 58px;
			height: 70px;
			display: inline-block;
			margin: 0 -32px -36px -23px;
			position: relative;
			background-size: contain;

			@include bp(sm) {
				width: 88px;
				margin: 0 -49px -17px -34px;
			}
		}
	}
}


@include bp(xs-sm) {

	.sqs-block-button-element--medium {
		width: 100% !important;
		padding: 12px 34px !important;
		box-sizing: border-box !important;
	}
}

