
// Breakpoints

$S:        768px;
$M:        992px;   
$L:        1200px; 

@mixin bp($point) {
	@if $point == xs {
		@content;
	}
	@else if $point == xs-sm {
		@media (max-width: 767px)  { @content ; }
	}
	@else if $point == xs-md {
		@media (max-width: 991px)  { @content ; }
	}
	@else if $point == xs-lg {
		@media (max-width: 1199px)  { @content ; }
	}
	@else if $point == sm {
		@media (min-width: 768px) { @content ; }
	}
	@else if $point == sm-md {
		@media (min-width: 768px) and (max-width: 991px)  { @content ; }
	}
	@else if $point == sm-lg {
		@media (min-width: 768px) and (max-width: 1199px)  { @content ; }
	}
	@else if $point == md {
		@media (min-width: 992px) { @content ; }
	}
	@else if $point == md-lg {
		@media (min-width: 992px) and (max-width: 1199px)  { @content ; }
	}
	@else if $point == lg {
		@media (min-width: 1200px) { @content ; }
	}
}











.index-section-wrapper .content {
	max-width: 1340px !important;
}



.locked {
	padding: 8px 24px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #fff;
    background-color: rgba(28,30,33,.2);
    border-color: rgba(28,30,33,.86);
    display: inline-block;
    border-radius: 3px;
}




#story-section {
	background: url('https://jonathanolsen.github.io/sites/ashai/assets/img/story-bg-2.jpg') #FAF2EF center left no-repeat;
	background-size: cover;
}

.our-story {
	padding: 40px;

	.container {
		width: 100%;
		max-width: 660px;
		font-family: 'montserrat', 'Helvetica Neue', Arial;
		font-weight: 300;
		color: #89718c;

		@include bp(sm) {
			padding: 40px;
			font-size: 18px;
			line-height: 30px;
		}
	}

	h2 {
		color: #D27991;
		font-weight: 500;

		@include bp(sm) {
			font-size: 36px;
		}
	}

	p {
		font-size: 14px;
		line-height: 24px;

		@include bp(sm) {
			font-size: 15px;
			line-height: 26px;
		}

		@include bp(md) {
			font-size: 16px;
			line-height: 26px;
		}

		@include bp(lg) {
			font-size: 18px;
			line-height: 30px;
		}
	}

	.close-box {
		color: #423e48;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 15px;
		font-weight: bold;
	}

	&.active {
		opacity: 1;
		z-index: 999;
	}
}










