.position-bottom-arrow .content-wrapper {
  display: flex;
  flex-direction: column; }
  .position-bottom-arrow .content-wrapper .position-bottom {
    display: flex;
    margin-top: auto !important;
    top: auto !important; }

.align-button-center {
  text-align: center; }
  .align-button-center .view-project-cta {
    margin-right: -64px; }

.view-project-cta {
  display: inline-block;
  width: auto !important;
  padding: 0 80px 0 0; }
  .view-project-cta a {
    font-weight: bold; }
  .view-project-cta:before {
    content: "";
    width: 30px;
    height: 2px;
    background: #FFC439;
    position: absolute;
    top: 50%;
    right: 26px;
    transition: all 0.3s ease; }
  .view-project-cta:hover:before {
    right: 10px;
    width: 35px; }
  .view-project-cta:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #FFC439;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 30px;
    transition: all 0.3s ease;
    opacity: 0; }
  .view-project-cta:hover:after {
    right: 6px;
    opacity: 1; }
