// Breakpoints

$small: 640px;
$medium: 992px;
$large: 1374px;
$x-large: 1600px;

@mixin bp($point) {
  @if $point == xs {
    @content;
  } @else if $point == xs-sm {
    @media (max-width: $small - 1px) {
      @content;
    }
  } @else if $point == xs-md {
    @media (max-width: $medium - 1px) {
      @content;
    }
  } @else if $point == xs-lg {
    @media (max-width: $large - 1px) {
      @content;
    }
  } @else if $point == sm {
    @media (min-width: $small) {
      @content;
    }
  } @else if $point == sm-md {
    @media (min-width: $small) and (max-width: $medium - 1px) {
      @content;
    }
  } @else if $point == sm-lg {
    @media (min-width: $small) and (max-width: $large - 1px) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: $medium) {
      @content;
    }
  } @else if $point == md-lg {
    @media (min-width: $medium) and (max-width: $large - 1px) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: $large) {
      @content;
    }
  } @else if $point == xlg {
    @media (min-width: $x-large) {
      @content;
    }
  }
}

$brand-color:             #3450C7;

.position-bottom-arrow {

  .content-wrapper {
    display: flex;
    flex-direction: column;

    .position-bottom {
      display: flex;
      margin-top: auto !important;
      top: auto !important;
    }
  }
}

.view-project-cta {
  background: aqua;
  display: inline-block;
  width: auto !important;
  padding: 0 80px 0 0;

  &:before {
    content: "";
    width: 30px;
    height: 2px;
    background: slategray;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 34px;
    transition: all 0.3s ease;
  }

  &:hover:before {
    right: 15px;
    width: 35px;
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #000000;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 20px;
    transition: all 0.3s ease;
    opacity: 0;
  }

  &:hover:after {
    right: 12px; 
    opacity: 1;
  }
}