// Breakpoints

$small: 640px;
$medium: 992px;
$large: 1374px;
$x-large: 1600px;

@mixin bp($point) {
  @if $point == xs {
    @content;
  } @else if $point == xs-sm {
    @media (max-width: $small - 1px) {
      @content;
    }
  } @else if $point == xs-md {
    @media (max-width: $medium - 1px) {
      @content;
    }
  } @else if $point == xs-lg {
    @media (max-width: $large - 1px) {
      @content;
    }
  } @else if $point == sm {
    @media (min-width: $small) {
      @content;
    }
  } @else if $point == sm-md {
    @media (min-width: $small) and (max-width: $medium - 1px) {
      @content;
    }
  } @else if $point == sm-lg {
    @media (min-width: $small) and (max-width: $large - 1px) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: $medium) {
      @content;
    }
  } @else if $point == md-lg {
    @media (min-width: $medium) and (max-width: $large - 1px) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: $large) {
      @content;
    }
  } @else if $point == xlg {
    @media (min-width: $x-large) {
      @content;
    }
  }
}

$brand-color: #3450c7;

.menus {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  position: relative;
  z-index: 2;
  background: #fff;
}

.menu-section-header .menu-section-title {
  color: $brand-color;
}

.menu-selector .menu-select-labels {
  padding: 0 !important;
  margin: 0 0.5em;

  &:hover {
    color: #000;
  }
}

.menu-selector .menu-select-labels--active {
  text-decoration: none !important;
  border-bottom: 1px solid $brand-color;
  color: $brand-color;

  &:hover {
    color: $brand-color;
  }
}

.fixed-btn {
  position: fixed;
  top: 46px;
  right: 5%;
  z-index: 1000;

  a {
    font-weight: 600 !important;
  }
}

@include bp(xs-sm) {
  .fixed-btn {
    top: auto !important;
    bottom: 20px;
    right: 50% !important;
    transform: translateX(50%);
    z-index: 99999;
    width: 80%;
    a {
      padding: 14px 40px !important;
    }
  }
}

.Intro--has-image:before {
  background: linear-gradient(
    to bottom,
    rgb(11, 12, 20) 4%,
    rgba(11, 12, 20, 0.3) 36%
  );
}

.sqs-block.embed-block.sqs-block-embed {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
  background: $brand-color;
}

#collection-5d5971e4610bb30001e8d333 .Main.Main--page {
  overflow: hidden;
}

body:not(.button-style-default) .sqs-editable-button {
  padding: 24px 42px;
  font-size: 16px;
}

.special-large {
  background: #fff !important;
  color: #111 !important;

  &:hover {
    background: $brand-color !important;
    color: #fff !important;
    border-color: $brand-color !important;
  }
}

#about-basil {
  background-color: #eff1f5;
}

.menu-block {
  background: #fff;
  padding: 60px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
}

.menu-block .menu-selector label {
  padding: 0 !important;
}

.menu-block .menu-style-classic .menu-selector,
.menu-block .menu-style-classic .menu-section-title {
  text-align: left;
}

.header-nav-folder-content {
  right: auto !important;
  left: -1em !important;
  text-align: left !important;
  background: #3b52d8 !important;
  padding: 12px 18px !important;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.05), 0 20px 40px rgba(0, 0, 0, 0.14),
    0 10px 14px rgba(0, 0, 0, 0.05);
  transition: 0.1s cubic-bezier(0.19, 0.46, 0.94, 0.66);
  will-change: transform;
  transform: translate3d(0, 20px, 0);
  border-radius: 2px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 160px;

  .header-nav-folder-item {
    flex: 0 0 50%;
  }

  .header-nav-folder-item.header-nav-folder-item--external {
    flex: 0;
  }
}

.header-nav-folder-content .header-nav-folder-item a {
  opacity: 0.5;
  transition: all 0.2s ease-out;
  color: #fff !important;
}

.header-nav-folder-content .header-nav-folder-item a:hover {
  opacity: 1;
}

.header-nav-item.header-nav-item--folder:hover .header-nav-folder-content {
  transform: translate3d(0, 0, 0);
}

.menu-block .menu-select-labels {
  color: #304dcf;
}
