// Breakpoints

$small: 640px;
$medium: 992px;
$large: 1374px;
$x-large: 1600px;

@mixin bp($point) {
  @if $point == xs {
    @content;
  } @else if $point == xs-sm {
    @media (max-width: $small - 1px) {
      @content;
    }
  } @else if $point == xs-md {
    @media (max-width: $medium - 1px) {
      @content;
    }
  } @else if $point == xs-lg {
    @media (max-width: $large - 1px) {
      @content;
    }
  } @else if $point == sm {
    @media (min-width: $small) {
      @content;
    }
  } @else if $point == sm-md {
    @media (min-width: $small) and (max-width: $medium - 1px) {
      @content;
    }
  } @else if $point == sm-lg {
    @media (min-width: $small) and (max-width: $large - 1px) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: $medium) {
      @content;
    }
  } @else if $point == md-lg {
    @media (min-width: $medium) and (max-width: $large - 1px) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: $large) {
      @content;
    }
  } @else if $point == xlg {
    @media (min-width: $x-large) {
      @content;
    }
  }
}

$brand-color:             #3450C7;

.menus {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  position: relative;
  z-index: 2;
  background: #fff;
}

.menu-section-header .menu-section-title {
  color: $brand-color;
}

.menu-selector .menu-select-labels {
  padding: 0 !important;
  margin: 0 0.5em;

  &:hover {
    color: #000;
  }
}

.menu-selector .menu-select-labels--active {
  text-decoration: none !important;
  border-bottom: 1px solid $brand-color;
  color: $brand-color;

  &:hover {
    color: $brand-color;
  }
}


.fixed-btn {
  position: fixed;
  top: 46px;
  right: 5%;
  z-index: 1000;
  
  a {
    font-weight: 600 !important;
  }
}

@include bp(xs-sm) {
  .fixed-btn {
    top: auto;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    z-index: 99999;
    width: 80%;
    a {
      padding: 14px 40px !important;
    }
  }
}

.Intro--has-image:before {
  background: linear-gradient(to bottom, rgb(11,12,20) 4%, rgba(11,12,20,.3) 36%);
}

.sqs-block.embed-block.sqs-block-embed {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
  background: $brand-color;
}

#collection-5d5971e4610bb30001e8d333 .Main.Main--page {
  overflow: hidden;
}

body:not(.button-style-default) .sqs-editable-button {
  padding: 20px 50px;
  font-size: 16px;
}