.price-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto 0;
  border-top: 1px solid #f0f0f0;
  padding: 40px 0;
  display: inline-block;
  border-bottom: 1px solid #f0f0f0; }

.price {
  text-align: center;
  width: 50%;
  float: left;
  font-size: 36px;
  color: #101010;
  font-family: 'futura-pt'; }
  .price span {
    text-transform: uppercase;
    display: block;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 300;
    color: #777; }

.bracelets {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  display: inline-block; }
  .bracelets img {
    width: 80%; }

.flickity.gallery {
  width: calc(100% + 120px);
  margin: 40px -60px 0; }
  .flickity.gallery .gallery-item {
    width: 70%; }
  .flickity.gallery h4 {
    text-transform: uppercase;
    font-weight: 300; }
    .flickity.gallery h4 span {
      font-weight: 600; }
  .flickity.gallery .image {
    width: 100%; }
    .flickity.gallery .image img {
      width: 100%;
      display: inline-block; }

.our-story {
  background: url("https://jonathanolsen.github.io/sites/ashai/assets/img/story-bg-2.jpg") #FAF2EF center bottom no-repeat;
  background-size: contain;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 40px;
  border-radius: 3px;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  top: 0;
  left: 0;
  z-index: -1;
  box-sizing: border-box;
  overflow-x: auto; }
  @media (min-width: 768px) {
    .our-story {
      background-size: cover;
      position: absolute;
      background-position: center; } }
  .our-story .container {
    width: 100%;
    max-width: 660px;
    font-family: 'montserrat';
    font-weight: 300;
    color: #89718c; }
    @media (min-width: 768px) {
      .our-story .container {
        padding: 40px;
        font-size: 18px;
        line-height: 30px; } }
  .our-story h2 {
    color: #D27991; }
    @media (min-width: 768px) {
      .our-story h2 {
        font-size: 36px; } }
  .our-story p {
    font-size: 14px;
    line-height: 24px; }
    @media (min-width: 768px) {
      .our-story p {
        font-size: 15px;
        line-height: 26px; } }
    @media (min-width: 992px) {
      .our-story p {
        font-size: 16px;
        line-height: 26px; } }
    @media (min-width: 1200px) {
      .our-story p {
        font-size: 18px;
        line-height: 30px; } }
  .our-story .close-box {
    color: #423e48;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold; }
  .our-story.active {
    opacity: 1;
    z-index: 999; }

.sqs-slice-body-content p {
  width: 100%;
  max-width: 480px;
  margin: 0 auto !important; }

@media (min-width: 768px) {
  .sqs-slide.sqs-slide-ready {
    opacity: 0; }
    .sqs-slide.sqs-slide-ready.done {
      opacity: 1; }
  .sqs-slide-animate {
    background: #000 !important;
    width: 0;
    left: 0; }
    .sqs-slide-animate.animate {
      width: 100%;
      -webkit-transition: all 0.7s cubic-bezier(0.82, 0.01, 0.49, 1);
      transition: all 0.7s cubic-bezier(0.82, 0.01, 0.49, 1); }
      .sqs-slide-animate.animate .sqs-slide-layer-content.content-gallery {
        opacity: 1; }
    .sqs-slide-animate .sqs-slide-layer.full-width-height {
      -webkit-transition: all .85s ease-in-out;
      transition: all .85s ease-in-out;
      opacity: 0; }
      .sqs-slide-animate .sqs-slide-layer.full-width-height.animate {
        opacity: 1; }
    .sqs-slide-animate .sqs-slide-layer-content.content-gallery {
      width: 100% !important;
      position: absolute;
      z-index: 2 !important;
      right: 0;
      -webkit-transition: all .85s ease-in-out;
      transition: all .85s ease-in-out;
      z-index: 3;
      opacity: 0; }
      .sqs-slide-animate .sqs-slide-layer-content.content-gallery.animate {
        width: 50% !important; }
    .sqs-slide-animate .sqs-slide-layer-content.content-copy {
      position: absolute;
      left: 0;
      -webkit-transition: all .85s ease-in-out;
      transition: all .85s ease-in-out;
      margin-left: -50%; }
      .sqs-slide-animate .sqs-slide-layer-content.content-copy.animate {
        margin-left: 0; } }

.full-screen-gallery {
  width: 100% !important;
  height: 100%;
  position: absolute;
  z-index: 2 !important;
  right: 0;
  z-index: 3; }

.full-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: #fff; }
