.fl {
  float: left; }

.fr {
  float: right; }

.sqs-slide-animate {
  background: #000;
  width: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  left: auto;
  right: 0; }
  .sqs-slide-animate .sqs-slide-layer.full-width-height {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 0; }
    .sqs-slide-animate .sqs-slide-layer.full-width-height.animate {
      opacity: 1; }
  .sqs-slide-animate .sqs-slide-layer-content {
    width: 100%;
    position: absolute;
    z-index: 2;
    right: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
    .sqs-slide-animate .sqs-slide-layer-content.animate {
      width: 50%; }
