@media (min-width: 768px) {
  .sqs-slide-animate {
    background: #000 !important;
    width: 0;
    -webkit-transition: all .85s ease-in-out;
    transition: all .85s ease-in-out;
    left: auto;
    right: 0; }
    .sqs-slide-animate.animate {
      width: 100%; }
    .sqs-slide-animate .sqs-slide-layer.full-width-height {
      -webkit-transition: all .85s ease-in-out;
      transition: all .85s ease-in-out;
      opacity: 0; }
      .sqs-slide-animate .sqs-slide-layer.full-width-height.animate {
        opacity: 1; }
    .sqs-slide-animate .sqs-slide-layer-content.content-gallery {
      width: 100% !important;
      position: absolute;
      z-index: 2 !important;
      right: 0;
      -webkit-transition: all .85s ease-in-out;
      transition: all .85s ease-in-out;
      z-index: 3; }
      .sqs-slide-animate .sqs-slide-layer-content.content-gallery.animate {
        width: 50% !important; }
    .sqs-slide-animate .sqs-slide-layer-content.content-copy {
      position: absolute;
      left: 0;
      -webkit-transition: all .85s ease-in-out;
      transition: all .85s ease-in-out;
      margin-left: -50%; }
      .sqs-slide-animate .sqs-slide-layer-content.content-copy.animate {
        margin-left: 0; } }
