.index-section-wrapper .content {
  max-width: 1340px !important; }

.locked {
  padding: 8px 24px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #fff;
  background-color: rgba(28, 30, 33, 0.2);
  border-color: rgba(28, 30, 33, 0.86);
  display: inline-block;
  border-radius: 3px; }

.index-section.page .content .sqs-block.code-block {
  padding-top: 0;
  max-width: 750px; }

.index-section.page .content .form-button-wrapper .button {
  padding: 20px 30px;
  border-radius: 0 3px 3px 0;
  display: block;
  margin-left: 0px;
  text-transform: uppercase;
  font-size: 16px;
  height: 64px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: #CF0232;
  font-family: montserrat, 'proxima nova', helvetica, arial;
  color: #fff; }

.index-section.page .content .form-wrapper {
  max-width: 600px; }
  .index-section.page .content .form-wrapper .field-list {
    width: 60%;
    float: left; }
  .index-section.page .content .form-wrapper .form-button-wrapper {
    float: right;
    width: 40%; }
  .index-section.page .content .form-wrapper label.title {
    display: none; }
  .index-section.page .content .form-wrapper input.field-element {
    margin: 0;
    height: 64px;
    font-size: 16px;
    padding: 8px 20px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

#story-section {
  background: url("https://jonathanolsen.github.io/sites/ashai/assets/img/volcano-final.jpg") #FAF2EF center left no-repeat;
  background-size: cover; }
  @media (min-width: 768px) {
    #story-section {
      padding: 40px 0 80px; } }
  #story-section label.title {
    display: none; }
  #story-section input.field-element {
    margin: 0;
    height: 64px;
    font-size: 16px;
    padding: 8px 20px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  #story-section .form-button-wrapper .button {
    padding: 20px 30px;
    border-radius: 0 3px 3px 0;
    display: block;
    margin-left: 0px;
    text-transform: uppercase;
    font-size: 16px;
    height: 64px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background: #CF0232;
    font-family: montserrat, 'proxima nova', helvetica, arial; }
  #story-section .form-wrapper {
    max-width: 600px; }
    #story-section .form-wrapper .field-list {
      width: 60%;
      float: left; }
    #story-section .form-wrapper .form-button-wrapper {
      float: right;
      width: 40%; }

.our-story .container {
  width: 100%;
  max-width: 660px;
  font-weight: 300;
  color: #afa4b1; }

.our-story h2 {
  color: #fff;
  font-weight: 500; }
  @media (min-width: 768px) {
    .our-story h2 {
      font-size: 36px;
      font-family: montserrat; } }

.our-story p {
  font-size: 14px;
  line-height: 24px; }
  @media (min-width: 768px) {
    .our-story p {
      font-size: 15px;
      line-height: 26px; } }
  @media (min-width: 992px) {
    .our-story p {
      font-size: 16px;
      line-height: 26px; } }
  @media (min-width: 1200px) {
    .our-story p {
      font-size: 18px;
      line-height: 30px; } }

.our-story .close-box {
  color: #423e48;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold; }

#instagram-section .index-section-wrapper {
  background: #010101; }
