.index-section-wrapper .content {
  max-width: 1340px !important; }

.locked {
  padding: 8px 24px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #fff;
  background-color: rgba(28, 30, 33, 0.2);
  border-color: rgba(28, 30, 33, 0.86);
  display: inline-block;
  border-radius: 3px; }

#home-1-section .index-section.page .content .sqs-block.code-block {
  padding-top: 0;
  max-width: 750px; }

#home-1-section .index-section.page .content .form-button-wrapper .button {
  padding: 20px 30px;
  border-radius: 0 3px 3px 0;
  display: block;
  margin-left: 0px;
  text-transform: uppercase;
  font-size: 16px;
  height: 64px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: #CF0232;
  font-family: montserrat, 'proxima nova', helvetica, arial;
  color: #fff; }

#home-1-section .index-section.page .content .form-wrapper {
  max-width: 600px; }
  #home-1-section .index-section.page .content .form-wrapper .field-list {
    width: 60%;
    float: left; }
  #home-1-section .index-section.page .content .form-wrapper .form-button-wrapper {
    float: right;
    width: 40%; }
  #home-1-section .index-section.page .content .form-wrapper label.title {
    display: none; }
  #home-1-section .index-section.page .content .form-wrapper input.field-element {
    margin: 0;
    height: 64px;
    font-size: 16px;
    padding: 8px 20px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

#story-section {
  background: url("https://jonathanolsen.github.io/sites/ashai/assets/img/story-4.jpg") #FAF2EF center left no-repeat;
  background-size: cover; }
  @media (min-width: 768px) {
    #story-section {
      padding: 40px 0 80px; } }
  #story-section label.title {
    display: none; }
  #story-section input.field-element {
    margin: 0;
    height: 64px;
    font-size: 16px;
    padding: 8px 20px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  #story-section .form-button-wrapper .button {
    padding: 20px 30px;
    border-radius: 0 3px 3px 0;
    display: block;
    margin-left: 0px;
    text-transform: uppercase;
    font-size: 16px;
    height: 64px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background: #CF0232;
    font-family: montserrat, 'proxima nova', helvetica, arial; }
  #story-section .form-wrapper {
    max-width: 600px; }
    #story-section .form-wrapper .field-list {
      width: 60%;
      float: left; }
    #story-section .form-wrapper .form-button-wrapper {
      float: right;
      width: 40%; }

.our-story .container {
  width: 100%;
  max-width: 660px;
  font-weight: 300;
  color: #afa4b1; }

.our-story h2 {
  color: #fff;
  font-weight: 500; }
  @media (min-width: 768px) {
    .our-story h2 {
      font-size: 36px;
      font-family: montserrat; } }

.our-story p {
  font-size: 14px;
  line-height: 24px; }
  @media (min-width: 768px) {
    .our-story p {
      font-size: 15px;
      line-height: 26px; } }
  @media (min-width: 992px) {
    .our-story p {
      font-size: 16px;
      line-height: 26px; } }
  @media (min-width: 1200px) {
    .our-story p {
      font-size: 18px;
      line-height: 30px; } }

.our-story .close-box {
  color: #423e48;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold; }

#instagram-section .index-section-wrapper {
  background: #010101; }

#ashai-twelve .grid {
  max-width: 1400px; }

#ashai-twelve .productListing {
  padding: 40px 0; }

#ashai-twelve .prodThumb {
  overflow: auto !important;
  padding: 20px; }
  #ashai-twelve .prodThumb:nth-child(1) {
    -webkit-animation-delay: .4s;
            animation-delay: .4s; }
  #ashai-twelve .prodThumb:nth-child(2) {
    -webkit-animation-delay: .6s;
            animation-delay: .6s; }
  #ashai-twelve .prodThumb:nth-child(3) {
    -webkit-animation-delay: .8s;
            animation-delay: .8s; }
  #ashai-twelve .prodThumb:nth-child(4) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
  #ashai-twelve .prodThumb:nth-child(5) {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s; }
  #ashai-twelve .prodThumb:nth-child(6) {
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s; }
  #ashai-twelve .prodThumb:nth-child(7) {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s; }
  #ashai-twelve .prodThumb:nth-child(8) {
    -webkit-animation-delay: 1.7s;
            animation-delay: 1.7s; }
  #ashai-twelve .prodThumb:nth-child(9) {
    -webkit-animation-delay: 1.9s;
            animation-delay: 1.9s; }
  #ashai-twelve .prodThumb:nth-child(10) {
    -webkit-animation-delay: 2.1s;
            animation-delay: 2.1s; }
  #ashai-twelve .prodThumb:nth-child(11) {
    -webkit-animation-delay: 2.3s;
            animation-delay: 2.3s; }
  #ashai-twelve .prodThumb:nth-child(12) {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s; }
  #ashai-twelve .prodThumb.released:hover a {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
    #ashai-twelve .prodThumb.released:hover a:after {
      opacity: .7; }
  #ashai-twelve .prodThumb.released a {
    cursor: pointer !important;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    #ashai-twelve .prodThumb.released a:after {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(14, 14, 14, 0);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(14, 14, 14, 0)), color-stop(1%, rgba(14, 14, 14, 0.01)), color-stop(100%, black));
      background: -webkit-linear-gradient(top, rgba(14, 14, 14, 0) 0%, rgba(14, 14, 14, 0.01) 1%, black 100%);
      background: linear-gradient(to bottom, rgba(14, 14, 14, 0) 0%, rgba(14, 14, 14, 0.01) 1%, black 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#000000', GradientType=0 );
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      -webkit-transition: .2s ease-out;
      transition: .2s ease-out; }
  #ashai-twelve .prodThumb a {
    background: #000;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1), 0 15px 37px rgba(0, 0, 0, 0.04), 0 5px 16px rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 400px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 16px;
    text-transform: uppercase;
    color: #a5a5a5;
    padding: 35px;
    cursor: default;
    border-radius: 4px; }
    #ashai-twelve .prodThumb a .kanji {
      font-size: 100px;
      color: #fff; }
    #ashai-twelve .prodThumb a .name span {
      text-transform: uppercase;
      font-size: 12px;
      display: block;
      margin-top: 12px;
      opacity: .5;
      color: #fff; }
  #ashai-twelve .prodThumb.shigoto a {
    background: url("../img/shigoto-twelve_mini.jpg") top center no-repeat;
    background-size: cover; }

#ashai-twelve-page {
  background: url("../img/twelve-bg_mini.jpg") top center no-repeat;
  background-size: cover; }
  #ashai-twelve-page:after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(14, 14, 14, 0);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(14, 14, 14, 0)), color-stop(1%, rgba(14, 14, 14, 0.01)), color-stop(100%, black));
    background: -webkit-linear-gradient(top, rgba(14, 14, 14, 0) 0%, rgba(14, 14, 14, 0.01) 1%, black 100%);
    background: linear-gradient(to bottom, rgba(14, 14, 14, 0) 0%, rgba(14, 14, 14, 0.01) 1%, black 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#000000', GradientType=0 );
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .7; }

@media (min-width: 768px) {
  .oneThird {
    width: 33.33%; } }

.gridJustify.centerColumns {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center; }

.gridJustify {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center; }

.text-center {
  text-align: center; }

.flexGrid {
  padding: 0 10px; }

.grid {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto; }

.flexGrid.flexItem:not(.flexGrid), .flexGrid .flexGrid:not(.cartRow):not(.flexItem) {
  padding-left: 0;
  padding-right: 0; }

.gridJustify.centerColumns {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center; }

.gridJustify {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  box-sizing: border-box; }
