body.tweak-site-width-option-full-background.tweak-overlay-parallax-enabled.has-parallax-images:not(.tweak-site-width-option-constrained-width) {
  /* background: url('http://www.hennessy.com/us/site-static/images/bg-gradient_sm_2x.4255c3fcd7fc.jpg') top center repeat-y;
	background-size: 100%; */
  background: #fff !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.Index-page {
  background: none; }
  .Index-page .Index-page-content h1 {
    margin-bottom: 20px; }

#fam-trips {
  background: url("https://jonathanolsen.github.io/sites/sense/assets/img/line.svg") center top no-repeat #F2F3F5;
  background-size: 84%; }
  #fam-trips .sqs-block.code-block.sqs-block-code {
    margin: 80px 0; }

#philosophy .Index-page-content {
  padding: 120px 0 30px; }

.block-container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  @media (max-width: 767px) {
    .block-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .block-container .block-image img {
    box-shadow: 14px 14px 30px 0 rgba(0, 0, 0, 0.3); }
  .block-container .block-content {
    width: 100%;
    padding: 40px 50px;
    transition: all .2s ease-out;
    box-sizing: border-box;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    background: #000000;
    color: #fff; }
    .block-container .block-content p {
      font-size: 18px; }
    .block-container .block-content h2 {
      font-size: 28px;
      font-family: 'proxima-nova';
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-top: 3px;
      margin-bottom: 10px; }
      .block-container .block-content h2 + span {
        text-transform: uppercase;
        color: #999;
        font-size: 14px; }
    .block-container .block-content h4 {
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 2px;
      margin-bottom: 8px;
      position: relative; }
      .block-container .block-content h4.has-line {
        font-size: 13px;
        font-weight: bold;
        opacity: .3; }
        .block-container .block-content h4.has-line:after {
          content: '';
          height: 1px;
          width: 24px;
          background: #fff;
          position: absolute;
          top: calc(50% - 2px);
          margin-left: 18px; }
      .block-container .block-content h4 i {
        font-size: 42px;
        color: #084BDA;
        margin-bottom: 12px; }
    .block-container .block-content .cta-link {
      font-family: proxima-nova;
      text-transform: uppercase;
      font-weight: 700;
      color: #777;
      transition: all .1s ease-out; }
      .block-container .block-content .cta-link i {
        font-size: 30px;
        margin: 0 0 -10px 16px;
        display: table-caption;
        transition: .1s ease-out; }
      .block-container .block-content .cta-link:hover {
        color: #e8af34; }
        .block-container .block-content .cta-link:hover i {
          margin-left: 20px;
          color: #242424; }
      .block-container .block-content .cta-link.video i {
        font-size: 50px;
        color: #fff;
        text-shadow: 0 10px 40px rgba(0, 0, 0, 0.5); }
      .block-container .block-content .cta-link.external {
        font-weight: 600;
        letter-spacing: 2px;
        color: #fff;
        font-size: 14px; }
        .block-container .block-content .cta-link.external i {
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          font-size: 20px;
          margin: 0 0 -3px 12px; }
        .block-container .block-content .cta-link.external:hover {
          color: #999; }
          .block-container .block-content .cta-link.external:hover i {
            margin-left: 12px;
            color: #e8af34; }
    .block-container .block-content.light {
      background: #fff;
      color: #242424; }
      .block-container .block-content.light h1, .block-container .block-content.light h2, .block-container .block-content.light h3, .block-container .block-content.light h4, .block-container .block-content.light h5, .block-container .block-content.light h6 {
        color: #242424; }
    .block-container .block-content.dark .cta-link:hover {
      color: #fff; }
      .block-container .block-content.dark .cta-link:hover i {
        color: #e8af34; }
    .block-container .block-content.transparent {
      background: none;
      box-shadow: none; }
  .block-container.collection .block-content {
    max-width: 620px;
    margin: 80px 0 0; }
    @media (min-width: 768px) {
      .block-container.collection .block-content {
        margin: 0 0 -250px -200px; } }
  .block-container.our-story .block-content {
    max-width: 620px;
    margin: 80px 0 0; }
    @media (min-width: 768px) {
      .block-container.our-story .block-content {
        margin: 0 -150px -200px 0; } }
  .block-container.image-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .block-container.full-image {
    background-position: center center;
    background-size: cover;
    width: 100%;
    padding: 100px 50px 50px;
    box-shadow: 7px 14px 30px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box; }
    .block-container.full-image .block-content {
      margin-top: 170px;
      margin-bottom: 20px; }
    .block-container.full-image h1 {
      color: #fff;
      font-family: proxima-nova;
      font-weight: 800;
      text-transform: uppercase;
      width: 60%;
      line-height: 100px;
      letter-spacing: 5px;
      text-shadow: 0 10px 40px rgba(0, 0, 0, 0.5); }
  .block-container.instagram .block-content {
    max-width: 480px; }
    .block-container.instagram .block-content h4 i {
      font-size: 30px;
      color: #c7a25a; }
    .block-container.instagram .block-content p {
      font-size: 24px;
      line-height: 38px;
      font-weight: 400; }
      .block-container.instagram .block-content p a {
        color: #c7a25a; }

#block-571410df51c7922646d3 em span {
  line-height: 40px; }
