body {
  background: url("http://www.hennessy.com/us/site-static/images/bg-gradient_sm_2x.4255c3fcd7fc.jpg") top center repeat-y;
  background-size: 100%; }

.Index-page {
  background: none; }

.block-container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative; }
  .block-container .block-content {
    width: 100%;
    padding: 50px;
    transition: all .3s ease-out;
    box-sizing: border-box;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 30px rgba(0, 0, 0, 0.4), 0 3px 5px rgba(0, 0, 0, 0.3);
    background: #000000;
    color: #fff; }
    .block-container .block-content p {
      font-size: 18px; }
    .block-container .block-content h2 {
      font-size: 26px;
      font-family: 'proxima-nova'; }
    .block-container .block-content.light {
      background: #fff;
      color: #242424; }
      .block-container .block-content.light h1, .block-container .block-content.light h2, .block-container .block-content.light h3, .block-container .block-content.light h4, .block-container .block-content.light h5, .block-container .block-content.light h6 {
        color: #242424; }
  .block-container.collection .block-content {
    max-width: 560px;
    margin: 0 0 -150px -130px; }
  .block-container.our-story .block-content {
    max-width: 480px;
    margin: 0 -110px -200px 0; }
  .block-container.image-right {
    flex-direction: row-reverse; }
