/*
Error: Invalid CSS after "		.": expected "{", was "}"
        on line 37 of /Users/jonathanolsen/github-sites/sense/assets/scss/app.scss

32: 			margin: 0 0 -150px -130px;
33: 			box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 30px rgba(0, 0, 0, 0.4), 0 3px 5px rgba(0, 0, 0, 0.3);
34: 		}
35: 
36: 		.
37: 	}
38: }

Backtrace:
/Users/jonathanolsen/github-sites/sense/assets/scss/app.scss:37
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1179:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1115:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1110:in `tok!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:654:in `block'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:674:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:666:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:655:in `block'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:674:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:666:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:655:in `block'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:647:in `ruleset'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:673:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:666:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:123:in `stylesheet'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:39:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:403:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:278:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:423:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"		.\": expected \"{\", was \"}\"\A         on line 37 of /Users/jonathanolsen/github-sites/sense/assets/scss/app.scss\A \A 32: 			margin: 0 0 -150px -130px;\A 33: 			box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 30px rgba(0, 0, 0, 0.4), 0 3px 5px rgba(0, 0, 0, 0.3);\A 34: 		}\A 35: \A 36: 		.\A 37: 	}\A 38: }"; }
