// Besedo colors

// Main colors
$purple:			#5a0077;
$magenta:			#ff005a;

$purple-alt:		#9664bb;

// Tertriary colors
$blue:				#3C82E6;
$green:				#64BB87;
$yellow:			#F6BF57;
$gray:				#969696; // Can also be used for texts and elements

// Grays and text
$gray-bg:			#f7f7f7; // Light backgrounds and borders
$gray-text:			#575260; // Gray text
$black:				#000;
$white:				#fff;

// Login implio

html {
	height: 100%;
}

.app-login {
	background: url('../img/bg_mini.jpg') center center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding-top: 0;

	[data-ui-view="main"] {
		width: 100%;
		height: 100%;
	}

	.start-background {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.start-container .btn-start {
		background: $purple;
	}

}

.app-inviteUserTokenVerify .start-container a, 
.app-login .start-container a,
.app-newPassword .start-container a, 
.app-passwordReset .start-container a, 
.app-signup .start-container a, 
.app-verifyToken .start-container a {
	color: $gray-text;
}



// Product

body {
	color: $gray-text;
}

hr {
	border-top: 1px solid #ececec;
}

a {
	color: $blue;

	&:hover {
		color: lighten($blue, 8%);
	}
}

.navbar-implio {

	.active {

		a {
			background-color: darken($purple, 7%);
		}
	}

	.nav-dropdown {
		background-color: darken($purple, 7%);
	}

	.navbar-primary {
		background: $purple;

		.navbar-aux {

			.open {

				a {
					background-color: darken($purple, 7%);

					&:focus,
					&:hover {
						background-color: darken($purple, 7%);
					}
				}
			}

			.dropdown-menu li a {

			}
		}

		.navbar-nav {

			li {

				a {
					color: lighten($purple, 50%);
				}
			}

			.nav-divider {
				border-right: lighten($purple, 10%);
			}

			.icon-implio-help,
			.icon-implio-profile {
				color: $white;
			}
		}
	}
}

.navbar-secondary .sub-nav li {

	a {
		color: $gray-text;
	}

	.active a {
		border-bottom: $magenta;
	}
}

.stacked-chart-container {

	form label.legend {

		&.legend--acceptedManual {

			&:before {
				border-color: lighten($green, 7%);
			}

			&.legend--select:before {
				background-color: lighten($green, 7%);
			}
		}

		&.legend--acceptedAuto {

			&:before {
				border-color: darken($green, 15%);
			}

			&.legend--select:before {
				background-color: darken($green, 15%);
			}
		}

		&.legend--totalDecisions {
			&:before {
				border-color: $purple;
			}

			&.legend--select:before {
				background-color: $purple;
			}
		}

	}
}

.eva-job .eva-text-view,
.eva-select-list .btn-select {
	color: $gray-text
}

.matched-rules .more-rules-text, 
.matched-rules a,
.jobs-list-status-icon.reviewable,
.eva-job .eva-job-content a,
eva-external-link span,
.more-info-tooltip,
.empty-ng-table .has-error .link, 
.empty-ng-table .has-no-data .link, 
.empty-ng-table .has-no-results .link,
.pager li a:focus, 
.pager li a:hover, 
.pager li:first-child a:hover, 
.pager li:last-child a:hover {
	color: $blue;
}

.jobs-list-status-icon.approved {
	color: $green;
}

.checkbox-switch-inner:before {
	background-color: $green;
}

.checkbox-switch-inner:after {
	background-color: lighten($gray, 6%);
}

.btn.eva-btn-primary {
	background: $blue;
	transition: .1s ease-out;

	&:hover {
		background: darken($blue, 5%);
	}
}

stat-summary-card .detailed .percentage {
	color: $gray;
}
stat-summary-card .detailed .category-name {
	color: $gray-text;
}
stat-summary-card .main .main-number {
	color: $black;
}

.alert-success {
	background: $green;
}



.eva-job {

	.btn-approve {

		&.btn {
			background: $green;
		}
	}

	.btn-approve.btn.selected, .btn-approve.btn:focus.selected, .btn-approve.btn:hover.selected {
		border-color: $green;
		background: $white;

		span {
			color: $green;
		}
	}

	.refuse-button-0 {

		>.refusal-label {
			background: $magenta;
		}

		>button.btn, .refuse-button-0>button.btn:focus, .refuse-button-0>button.btn:hover {
			background-color: $magenta;

			&.selected {
				border-color: $magenta;
				background: $white;
			}

			&:hover {
				&.selected {
					border-color: $magenta;
				}
			}
		}
	}

	.refuse-button-1 {

		>.refusal-label {
			background: $purple;
		}

		>button.btn, .refuse-button-1>button.btn:focus, .refuse-button-1>button.btn:hover {
			background-color: $purple;

			&.selected {
				border-color: $purple;
				background: $white;
			}

			&:hover {
				&.selected {
					border-color: $purple;
				}
			}
		}
	}

	.refuse-button-2 {

		>.refusal-label {
			background-color: $blue;
		}

		>button.btn, 
		.refuse-button-2>button.btn:focus, 
		.refuse-button-2>button.btn:hover {
			background-color: $blue;

			&.selected {
				border-color: $blue;
				background: $white;
			}

			&:hover {
				&.selected {
					border-color: $blue;
				}
			}
		}
	}

	.refuse-button-3 {

		>.refusal-label {
			background: $purple-alt;
		}

		>button.btn, .refuse-button-3>button.btn:focus, .refuse-button-3>button.btn:hover {
			background-color: $purple-alt;

			&.selected {
				border-color: $purple-alt;
				background: $white;
			}

			&:hover {
				&.selected {
					border-color: $purple-alt;
				}
			}
		}
	}

	.refuse-button-4 {

		>.refusal-label {
			background: $yellow;
		}

		>button.btn, .refuse-button-4>button.btn:focus, .refuse-button-4>button.btn:hover {
			background-color: $yellow;

			&.selected {
				border-color: $yellow;
				background: $white;
			}

			&:hover {
				&.selected {
					border-color: $yellow;
				}
			}
		}
	}

	.refuse-button-5 {

		>.refusal-label {
			background: $gray-text;
		}

		>button.btn, .refuse-button-5>button.btn:focus, .refuse-button-5>button.btn:hover {
			background-color: $gray-text;

			&.selected {
				border-color: $gray-text;
				background: $white;
			}

			&:hover {
				&.selected {
					border-color: $gray-text;
				}
			}
		}
	}

	.btn-escalate.btn, .btn-escalate.btn:focus, .btn-escalate.btn:hover {
		background: $black;
	}

}

.process-circle-wrapper .process-circle.process-circle--approve {
	background-color: $green;
}

.process-circle-wrapper .process-circle.process-circle--selected {
	background: $blue;
	border-color: $blue;
}

.matched-rules .more-rules-block {
	background: $blue;
}

.notice-container .notice.notice-good {
	background: lighten($green, 36%);
	border: 1px solid $green;

	i {
		color: $green;
	}
}

.bootstrap-datetimepicker-widget .table-condensed thead {
	background: $purple;
}

.bootstrap-datetimepicker-widget .active {
	background: $purple !important;
}

.sidebar .sub-nav li.active a {
	background: $purple;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
	color: $magenta;
}

.has-error .form-control {
	border-color: $magenta;
}










