// Besedo colors

// Main colors
$purple:			#5a0077;
$magenta:			#ff005a;

// Tertriary colors
$blue:				#3C82E6;
$green:				#64BB87;
$yellow:			#F6BF57;
$gray:				#969696; // Can also be used for texts and elements

// Grays and text
$gray-bg:			#f7f7f7; // Light backgrounds and borders
$gray-text:			#575260; // Gray text
$black:				#000;
$white:				#fff;

body {
	color: $gray-text;
}

.navbar-implio {

	.active {

		a {
			background-color: darken($purple, 3%);
		}
	}

	.navbar-primary {
		background: $purple;

		.navbar-nav {

			li {

				a {
					color: $white;
				}
			}

			.nav-divider {
				color: lighten($purple, 10%);
			}

			.icon-implio-help,
			.icon-implio-profile {
				color: lighten($purple, 30%);
				color: adjust-color($purple, $saturation: -30, $lightness: 30%);
			}
		}
	}

}

.stacked-chart-container {

	form label.legend {

		&.legend--acceptedManual {

			&:before {
				border-color: $green;
				background-color: lighten($green, 6%);
			}

			&.legend--select:before {
				background-color: lighten($green, 6%);
			}
		}
	}
}

.matched-rules .more-rules-text, .matched-rules a {
	color: $blue;
}

.jobs-list-status-icon.reviewable,
.eva-job .eva-job-content a {
	color: $blue;
}

.btn.eva-btn-primary {
	background: $blue;
	transition: .1s ease-out;

	&:hover {
		background: darken($blue, 5%);
	}
}

stat-summary-card .main .main-number {
	color: $black;
}
