body {
  color: #575260; }

.navbar-implio .active a {
  background-color: #4e0068; }

.navbar-implio .navbar-primary {
  background: #5a0077; }
  .navbar-implio .navbar-primary .navbar-nav li a {
    color: #fff; }
  .navbar-implio .navbar-primary .navbar-nav .nav-divider {
    border-right: #8100aa; }
  .navbar-implio .navbar-primary .navbar-nav .icon-implio-help,
  .navbar-implio .navbar-primary .navbar-nav .icon-implio-profile {
    color: #c511ff;
    color: #7e7e7e; }

.stacked-chart-container form label.legend.legend--acceptedManual:before {
  border-color: #64BB87; }

.stacked-chart-container form label.legend.legend--acceptedManual.legend--select:before {
  background-color: #79c497; }

.stacked-chart-container form label.legend.legend--acceptedAuto:before {
  border-color: #64BB87; }

.stacked-chart-container form label.legend.legend--acceptedAuto.legend--select:before {
  background-color: #459d68; }

.matched-rules .more-rules-text,
.matched-rules a,
.jobs-list-status-icon.reviewable,
.eva-job .eva-job-content a {
  color: #3C82E6; }

.jobs-list-status-icon.approved {
  color: #64BB87; }

.checkbox-switch-inner:before {
  background-color: #64BB87; }

.checkbox-switch-inner:after {
  background-color: #a5a5a5; }

.btn.eva-btn-primary {
  background: #3C82E6;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out; }
  .btn.eva-btn-primary:hover {
    background: #2574e3; }

stat-summary-card .detailed .percentage {
  color: #969696; }

stat-summary-card .detailed .category-name {
  color: #575260; }

stat-summary-card .main .main-number {
  color: #000; }
