body {
  color: #575260; }

.navbar-implio .active a {
  background-color: #4b0063; }

.navbar-implio .nav-dropdown {
  background-color: #4b0063; }

.navbar-implio .navbar-primary {
  background: #5a0077; }
  .navbar-implio .navbar-primary .navbar-aux .open a {
    background-color: #4b0063; }
    .navbar-implio .navbar-primary .navbar-aux .open a:focus, .navbar-implio .navbar-primary .navbar-aux .open a:hover {
      background-color: #4b0063; }
  .navbar-implio .navbar-primary .navbar-nav li a {
    color: #fff; }
  .navbar-implio .navbar-primary .navbar-nav .nav-divider {
    border-right: #8100aa; }
  .navbar-implio .navbar-primary .navbar-nav .icon-implio-help,
  .navbar-implio .navbar-primary .navbar-nav .icon-implio-profile {
    color: #c511ff;
    color: #ae5cc9; }

.navbar-secondary .sub-nav li a {
  color: #575260; }

.navbar-secondary .sub-nav li .active a {
  border-bottom: #ff005a; }

.stacked-chart-container form label.legend.legend--acceptedManual:before {
  border-color: #64BB87; }

.stacked-chart-container form label.legend.legend--acceptedManual.legend--select:before {
  background-color: #64BB87; }

.stacked-chart-container form label.legend.legend--acceptedAuto:before {
  border-color: #459d68; }

.stacked-chart-container form label.legend.legend--acceptedAuto.legend--select:before {
  background-color: #459d68; }

.stacked-chart-container form label.legend.legend--totalDecisions:before {
  border-color: #5a0077; }

.stacked-chart-container form label.legend.legend--totalDecisions.legend--select:before {
  background-color: #5a0077; }

.matched-rules .more-rules-text,
.matched-rules a,
.jobs-list-status-icon.reviewable,
.eva-job .eva-job-content a,
.more-info-tooltip {
  color: #3C82E6; }

.jobs-list-status-icon.approved {
  color: #64BB87; }

.checkbox-switch-inner:before {
  background-color: #64BB87; }

.checkbox-switch-inner:after {
  background-color: #a5a5a5; }

.btn.eva-btn-primary {
  background: #3C82E6;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out; }
  .btn.eva-btn-primary:hover {
    background: #2574e3; }

stat-summary-card .detailed .percentage {
  color: #969696; }

stat-summary-card .detailed .category-name {
  color: #575260; }

stat-summary-card .main .main-number {
  color: #000; }

.alert-success {
  background: #64BB87; }
