.btn {
	display: inline-block;
	padding: 12px 20px;
	background: $brand-primary;
	border: 2px solid $brand-primary;
	border-radius: 0;
	color: $white;
	cursor: pointer;
	text-align: center;
	outline: 0;
	text-transform: uppercase;
	transition: .1s ease-out;
	box-shadow: none !important;
	border-radius: 2px;

	&:hover {
		background: darken($brand-primary, 5%);
		color: $white;
	}

	&:focus {
		color: $gray;
		box-shadow: none !important;
		outline: none !important;
	}

	&:active,
	&.active {
		@include box-shadow(none);
	}

	&.btn-hollow {
		background: none;
		border: 2px solid rgba($white, 0.2);

		&:hover {
			border-color: $white;
		}
	}

	.ion-ios-arrow-thin-light {
		font-size: 30px;
		float: right;
		line-height: 0;
		height: 21px;
		margin-top: -4px;
		margin-left: 18px;
	}

}