#headerNav {
  margin: auto !important; }
  #headerNav .collection {
    margin: auto !important; }

#headerNav #mainNavWrapper #mainNavigation .index.home:first-of-type {
  display: inline-block !important; }

#mainNavigation .index.home {
  display: none !important; }

.cta-btn {
  background: #4D9EFF;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Raleway';
  padding: 16px 28px;
  border-radius: 2px;
  font-size: 18px;
  text-align: center; }

#home-section .cta-btn {
  background: #EF4BAF; }
  #home-section .cta-btn:hover {
    background: #4C3844; }

#preFooter {
  display: none; }
