// Breakpoints

$S:        768px;
$M:        992px;   
$L:        1200px; 

@mixin bp($point) {
    @if $point == xs {
        @content;
    }
    @else if $point == xs-sm {
        @media (max-width: 767px)  { @content ; }
    }
    @else if $point == xs-md {
        @media (max-width: 991px)  { @content ; }
    }
    @else if $point == xs-lg {
        @media (max-width: 1199px)  { @content ; }
    }
    @else if $point == sm {
        @media (min-width: 768px) { @content ; }
    }
    @else if $point == sm-md {
        @media (min-width: 768px) and (max-width: 991px)  { @content ; }
    }
    @else if $point == sm-lg {
        @media (min-width: 768px) and (max-width: 1199px)  { @content ; }
    }
    @else if $point == md {
        @media (min-width: 992px) { @content ; }
    }
    @else if $point == md-lg {
        @media (min-width: 992px) and (max-width: 1199px)  { @content ; }
    }
    @else if $point == lg {
        @media (min-width: 1200px) { @content ; }
    }
}

.col-md-offset-half-col {
    margin-left: 2.1%;
}


$border-variable:		1px solid #f5f4f4;

.fl {
	float: left;
}

.fr {
	float: right;
}


.product_cat {

	@include bp(xs-sm) {
		.btn-clear-filter {
			display: none;
		}
	}

	.trending_nav {
		border-right: 1px solid #eee;
		margin-right: 20px;
		border-left: 1px solid #eee;
	}

	.choose-product {
		font-size: 15px;
    	color: #999;
	}

	a {
		padding: 13px 30px;
		font-size: 15px;
		font-weight: 600;

		@include bp(xs-sm) {
			padding: 13px 0px;
			width: 25%;
			text-align: center;
			box-sizing: border-box;
		}

		&.active {
			color: #005a58;
		}
	}

	.btn-custom {
		float: right;
		padding: 6px 15px 5px;
		margin: 6px 0 0;

		&:hover {
			opacity: 1;
		}
	}
}

.product_cat,
#baux_filter {
	border-top: $border-variable;
}

.product_cat a.active, .product_cat a:hover {
	background: none;
}





.filter-container {
	border-bottom: $border-variable;
}

.filter-col {
	border-right: $border-variable;

	&:last-of-type {
		border-right: 0;
	}

	.filter-toggle {
		padding: 13px 0px;
		background: none;

		.color-icon {
			position: relative;
			width: 37px;
			height: 37px;
			float: left;

			span {
				width: 11px;
				height: 11px;

				&:nth-child(1) {
					background: #000;
				}

				&:nth-child(2) {
					background: #CC7D85;
				}

				&:nth-child(3) {
					background: #C7C8CA;
				}
			}
		}

		span {
			@include bp(xs-sm) {
				display: none;
			}
		}
	}

	.filter-list {

		.filter-item {

			@include bp(xs-sm) {
				margin-top: 3px;
			}

			a {
				margin: 0;
				opacity: 1;
				color: #7d797a;

				&.active {
					color: #525252;
				}
			}
		}

		// Affects all
		> ul {
			display: inline-block;
			margin: 0;
			width: 100%;
			padding: 20px 10px;

			@include bp(sm) {
				padding: 20px 15px;
			}

			> li {
				display: inline-block;
				list-style-type: none;
				margin: 0;
			}

			// only colors
			&.filter-list-colors {

				> li {
					width: 100%;

					@include bp(xs-sm) {
						border-bottom: 1px solid #F5F4F4;
						padding-bottom: 10px;
						margin-bottom: 10px;

						&:last-of-type {
							margin-bottom: 0;
							padding-bottom: 0;
							border: none;
						}
					}


					> ul {
						margin: 0;
						width: 100%;
						float: left;

						@include bp(sm) {
							width: 77%;
						}
					}

					.filter-item {
						width: 100%;

						@include bp(sm) {
							width: 25%;
						}
					}
				}

				.collection {
					width: 100%;
					float: left;
					cursor: pointer;

					@include bp(xs-sm) {
						margin-bottom: 10px;
					}

					@include bp(sm) {
						width: 23%;
					}

					> span {
						font-weight: 600;
					}

					.ticon {
						display: flex;
						justify-content: center;
						align-items: center;

						> i {
							opacity: 0;
							transition: .2s ease-out;
							transform: scale(0.2);
						}
					}

					&.active {

						.ticon {

							svg {
								opacity: 0;
								transform: scale(0.2);
							}

							i {
								opacity: 1;
								transform: scale(1);
							}
						}
					}
				}

				.filter-colors {

					a {
						font-weight: 600;

						.ticon {
							margin: 2px 15px 0 0;
							width: 20px;
							height: 20px;
							float: left;
							border-radius: 2px;
							box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
						}
					}
				}


			}

			// Only patterns


			&.filter-list-patterns {
				padding: 15px 25px;
				border-left: 1px solid #eee;

				.filter-item {
					margin: 5px 30px 5px 0;

					a {

						.ticon {
							border: 1px solid rgba(0, 0, 0, 0.1);
							font-size: 14px;
							width: 20px;
							float: left;
							height: 20px;
							margin: 3px 10px 0 0;
							position: relative;
							background: #fff;

							svg {
								transition: .2s ease-out;
								transform: scale(0.7);
							}

							i {
								position: absolute;
								opacity: 0;
								transition: .2s ease-out;
								transform: scale(0.2);
								left: 50%;
								top: 50%;
								margin: -7px 0 0 -6px;
							}
						}

						&.active {

							.ticon {
								border-color: #363636;

								svg {
									opacity: 0;
									transform: scale(0.2);
								}

								i {
									opacity: 1;
									transform: scale(1);
								}
							}
						}
					}
				}
			}
		}


		
	}


}

.btn-custom {
	border: 1px solid #252525;
	display: inline-block;
	padding: 8px 30px 7px;
	letter-spacing: 1px;
	font-size: 13px;
	text-transform: uppercase;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	color: #252525;
	margin-right: 15px;
	cursor: pointer;
	transition: all .2s ease-in-out;
	font-weight: 700;
	font-size: 12px;
	box-sizing: border-box;

	/* @include bp(xs-sm) {
		width: 90%;
		text-align: center;
		margin: 0 5%;
	} */

	&:hover {
		background-color: #252525;
		color: #fff;
	}
}


.filter-btn-container {
	display: inline-block;
	border-top: 1px solid #F5F4F4;
	padding: 20px 0;
	width: 100%;

	@include bp(sm) {
		padding: 15px;
	}

	.filter-col-btn {
		display: inline-block;

		@include bp(xs-sm) {
			width: 50%;
			float: left;
		}

		@include bp(xs-sm) {
			&.fr {
				width: 100%;

				.btn-next-filter {
					margin: 15px 2.5% 0;
					width: 95%;
				}
			}
		}



		&.fr {
			.btn-custom {
				margin-right: 0;
			}
		}
	}
}




// Styles for checboxes for tags and colors





.filter-list-colors .collection .ticon,
.filter-list-ftag li a .ticon {
	border: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 14px;
	width: 20px;
	float: left;
	height: 20px;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin: 3px 15px 0 0;
}

.filter-list-ftag,
.filter-list-colors {

	.filter-item {

		> a {

			.ticon {
				display: flex;
				justify-content: center;
				align-items: center;

				> i {
					color: #000;
					opacity: 0;
					transition: .2s ease-out;
					transform: scale(0.2);
					font-size: 14px;
				}
			}

			&.active {

				.ticon {

					svg {
						opacity: 0;
						transform: scale(0.2);
					}

					i {
						opacity: 1;
						transform: scale(1);
					}
				}
			}
		}
	}
}














.product-boxed .part.info {
	margin: 30px 0;
	padding: 0;
	background: #fff;
	border-radius: 3px;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #eee;

	li {
		margin: 0;
		padding: 8px 0;
		display: flex;
		border-bottom: 1px solid #eee;
	}
}



.product-boxed {

	@include bp(xs-sm) {
		flex-direction: column;
	}

	.dl {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
	}

	.dr {
		font-size: 15px;
	}

	.price {
		margin-bottom: 10px;
	}

	.inner {
		margin: 0 30px;
		
		@include bp(xs-sm) {
			margin: 10px 0 0;
		}

		.title {
			margin-bottom: 10px;
			margin-top: 10px !important;
		}

		> a {
			width: 100%;
			text-align: center;

			@include bp(xs-sm) {
				font-size: 14px;
				padding: 10px;
			}
		}
	}

	.bx-single-sku {
		margin-bottom: 10px;
	}
}


.related-products {
	border-top: 1px solid #f4f5f6;
	margin-top: 25px;
	padding-top: 30px;

	.flex-col-4 .inner {
		margin: 0 30px;
	}

	.mk-product-loop.compact-layout .products .item {
		padding: 0 18px 26px;
		border-radius: 3px;
		overflow: hidden;
	}
}

.page-control {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding: 10px 0 10px;
	border-top: 1px solid #eee;

	> a {
		text-transform: uppercase;
		display: inline-block;
		color: #555;
		font-size: 14px;
	}
}

.gallery-box {
	height: 580px;
	max-height: 580px;
	overflow: hidden;
	width: 100%;
}

.sticky-style-fixed {

	&.active {
		position: fixed;
		top: 58px;
		z-index: 1;
		background: #fff;
		width: 100%;
		max-width: 1310px;
	}
}

@include bp(xs-sm) {

	.gallery-box {
		height: 230px;
	}

	.gallery-thumbs {

		.gallery-thumb {
			max-width: 100px;
			max-height: 50px;
			margin: 15px 15px 0 0px;
		}
	}

	.flex-row {

		.flex-col-4,
		.flex-col-8 {
			width: 100%;
		}
	}
}

.related-products .mk-product-loop.compact-layout .products .item {
	padding: 0 9px 18px;
}




.product-loop-thumb {

	.product-item-box {

		.title {
			width: 260px;
			text-align: center;

			span {
				margin-top: 5px;
				display: inline-block;
				font-size: 13px;
				width: 100%;
				opacity: .85;
			}
		}
	}
}









































