// Breakpoints

$S:        768px;
$M:        992px;   
$L:        1200px; 

@mixin bp($point) {
    @if $point == xs {
        @content;
    }
    @else if $point == xs-sm {
        @media (max-width: 767px)  { @content ; }
    }
    @else if $point == xs-md {
        @media (max-width: 991px)  { @content ; }
    }
    @else if $point == xs-lg {
        @media (max-width: 1199px)  { @content ; }
    }
    @else if $point == sm {
        @media (min-width: 768px) { @content ; }
    }
    @else if $point == sm-md {
        @media (min-width: 768px) and (max-width: 991px)  { @content ; }
    }
    @else if $point == sm-lg {
        @media (min-width: 768px) and (max-width: 1199px)  { @content ; }
    }
    @else if $point == md {
        @media (min-width: 992px) { @content ; }
    }
    @else if $point == md-lg {
        @media (min-width: 992px) and (max-width: 1199px)  { @content ; }
    }
    @else if $point == lg {
        @media (min-width: 1200px) { @content ; }
    }
}

.col-md-offset-half-col {
    margin-left: 2.1%;
}


$border-variable:		1px solid #f5f4f4;

.fl {
	float: left;
}

.fr {
	float: right;
}


.product_cat {

	@include bp(xs-sm) {
		.btn-clear-filter {
			display: none;
		}
	}

	a {
		padding: 13px 30px;

		@include bp(xs-sm) {
			padding: 13px 0px;
			width: 25%;
			text-align: center;
			box-sizing: border-box;
		}
	}

	.btn-custom {
		float: right;
		padding: 14px 0 0;
		font-size: 12px;
		text-transform: uppercase;
		opacity: .6;
		transition: .1s ease-out;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}
	}
}

.product_cat,
#baux_filter {
	border-top: $border-variable;
}

.product_cat a.active, .product_cat a:hover {
	background: none;
}





.filter-container {
	border-bottom: $border-variable;
}

.filter-col {
	border-right: $border-variable;

	&:last-of-type {
		border-right: 0;
	}

	.filter-toggle {
		padding: 13px 0px;
		background: none;

		span {
			@include bp(xs-sm) {
				display: none;
			}
		}
	}

	.filter-list {
		border-top: $border-variable;
		border-bottom: $border-variable;

		.filter-item {
			width: 100%;

			@include bp(xs-sm) {
				margin-top: 3px;
			}

			@include bp(sm) {
				width: 25%;
			}

			a {
				margin: 0;
				opacity: 1;
				color: #7d797a;

				&.active {
					color: #525252;
				}
			}
		}

		// Affects all
		> ul {
			display: inline-block;
			margin: 0;
			width: 100%;
			padding: 20px 10px;

			@include bp(sm) {
				padding: 20px 15px;
			}

			> li {
				display: inline-block;
				list-style-type: none;
				margin: 0;
			}

			// only colors
			&.filter-list-colors {

				> li {
					width: 100%;

					@include bp(xs-sm) {
						border-bottom: 1px solid #F5F4F4;
						padding-bottom: 10px;
						margin-bottom: 10px;

						&:last-of-type {
							margin-bottom: 0;
							padding-bottom: 0;
							border: none;
						}
					}

					> ul {
						margin: 0;
						width: 100%;
						float: left;

						@include bp(sm) {
							width: 77%;
						}
					}
				}

				.collection {
					width: 100%;
					float: left;
					cursor: pointer;

					@include bp(xs-sm) {
						margin-bottom: 10px;
					}

					@include bp(sm) {
						width: 23%;
					}

					> span {
						font-weight: 600;
					}

					.ticon {
						display: flex;
						justify-content: center;
						align-items: center;

						> i {
							opacity: 0;
							transition: .2s ease-out;
							transform: scale(0.2);
						}
					}

					&.active {

						.ticon {

							svg {
								opacity: 0;
								transform: scale(0.2);
							}

							i {
								opacity: 1;
								transform: scale(1);
							}
						}
					}
				}

				.filter-colors {

					a {
						font-weight: 600;

						.ticon {
							margin: 2px 15px 0 0;
							width: 20px;
							height: 20px;
							float: left;
							border-radius: 2px;
							box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
						}
					}
				}


			}

			// Only patterns
			&.filter-list-patterns {
				padding: 15px;

				.filter-item {
					margin: 15px 0 5px;
					width: 100%;

					@include bp(sm) {
						width: 25%;
					}

					@include bp(md) {
						width: 20%;
					}

					a {

						.ticon {
							background: #f5f4f4;
							transition: .1s ease-out;
							position: relative;
							width: 30px;
							height: 30px;
							margin: -3px 10px 0 0;

							svg {
								transition: .2s ease-out;
								transform: scale(0.7);
							}

							i {
								position: absolute;
								opacity: 0;
								transition: .2s ease-out;
								transform: scale(0.2);
								left: 50%;
								top: 50%;
								margin: -7px 0 0 -6px;
							}
						}

						&.active {

							.ticon {
								background: #f5f4f4;

								svg {
									opacity: 0;
									transform: scale(0.2);
								}

								i {
									opacity: 1;
									transform: scale(1);
								}
							}
						}
					}
				}
			}
		}


		
	}


}




.filter-btn-container {
	display: inline-block;
	border-top: 1px solid #F5F4F4;
	padding: 20px 0;
	width: 100%;

	@include bp(sm) {
		padding: 20px 30px;
	}

	.filter-col-btn {
		display: inline-block;

		@include bp(xs-sm) {
			width: 50%;
			float: left;
		}

		@include bp(xs-sm) {
			&.fr {
				width: 100%;

				.btn-next-filter {
					margin: 15px 2.5% 0;
					width: 95%;
				}
			}
		}

		.btn-custom {
			border: 1px solid silver;
			display: inline-block;
			padding: 5px 17px;
			font-size: 13px;
			text-transform: uppercase;
			border-radius: 2px;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
			color: #777;
			margin-right: 15px;
			cursor: pointer;
			opacity: 0.6;
			transition: .1s ease-out;

			@include bp(xs-sm) {
				width: 90%;
				text-align: center;
				margin: 0 5%;
			}

			&:hover {
				opacity: 1;
			}
		}

		&.fr {
			.btn-custom {
				margin-right: 0;
			}
		}
	}
}




// Styles for checboxes for tags and colors





.filter-list-colors .collection .ticon,
.filter-list-ftag li a .ticon {
	border: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 14px;
	width: 20px;
	float: left;
	height: 20px;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin: 3px 15px 0 0;
}

.filter-list-ftag,
.filter-list-colors {

	.filter-item {

		> a {

			.ticon {
				display: flex;
				justify-content: center;
				align-items: center;

				> i {
					color: #000;
					opacity: 0;
					transition: .2s ease-out;
					transform: scale(0.2);
					font-size: 14px;
				}
			}

			&.active {

				.ticon {

					svg {
						opacity: 0;
						transform: scale(0.2);
					}

					i {
						opacity: 1;
						transform: scale(1);
					}
				}
			}
		}
	}
}















.product-boxed {

	&.part {

		&.info {
			margin: 0;
			padding: 20px 30px;
			background: #F6F7F8;
			border-radius: 3px;
			display: inline-block;
			width: 100%;
			box-sizing: border-box;

			.dl {
				font-weight: 600;
			}
		}
	}

	.price {
		margin-bottom: 10px;
	}

	.inner {
		.title {
			margin-bottom: 10px;
		}

		> a {
			border: 1px solid #ddd;
			padding: 10px 20px;
			border-radius: 3px;
			text-transform: uppercase;
			font-size: 15px;
			width: 100%;
			float: left;
			box-sizing: border-box;
			text-align: center;
			color: #333;
			font-weight: 600;
			margin: 20px 0 0;
		}
	}
}


.related-products {
	border-top: 1px solid #f4f5f6;
	margin-top: 25px;
	padding-top: 30px;

	.mk-product-loop.compact-layout .products .item {
		padding: 0 18px 26px;
		border-radius: 3px;
		overflow: hidden;
	}
}














