$border-variable:			2px solid #f5f4f4;


.product_cat {

	a {
		padding: 13px 30px;
	}
}

.product_cat,
#baux_filter {
	border-top: $border-variable;
}

.filter-container {
	border-bottom: $border-variable;
}

.filter-list {
	padding: 18px 0 2px;
	border-top: $border-variable;
	border-bottom: $border-variable;

	.filter-item {
		width: 25%;
		margin: 10px 0;

		a {
			margin: 0 0 8px;
		}
	}

	&.sub-level {
		padding: 0;
	}
}

.filter-patterns {

	.ticon {
		background: #f5f4f4;
	}
}

.filter-col {
	border-right: $border-variable;

	&:last-of-type {
		border-right: 0;
	}

	.filter-toggle {
		padding: 13px 0px;

		&:hover {
			background: #f5f4f4;
		}
	}

	.filter-colors {

		a {
			font-weight: 600;

			.ticon {
				margin-right: 15px;
			}

			.ticon {
				margin: -8px 15px 0 0;
				width: 42px;
				height: 42px;
				float: left;
				border-radius: 2px;
			}
		}
	}
}

.sub-cat {
	margin-left: 0;

	.sub-filter-toggle {
		padding: 15px 0;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 14px;
		border-bottom: 2px solid #fff;
		margin-bottom: -2px;
		display: inline-block;
		margin: 0 20px -1px 0;

		&.active {
			border-bottom: 2px solid #32343B;
		}
	}
}

.colors-sub-items {
	margin-left: 0;
	padding: 10px 0 0;

	ul {
		margin: 10px 0 0;

	}
}




