.menu {

	&.av-main-nav {

		.avia-menu-text {
			font-size: 16px;
		}

		.avia-menu-fx {
			height: 3px;
		}
	}
}

.avia-button {
	border-radius: 4px;
	border: none;
	text-transform: uppercase;
}

.home.page {

.entry-content-header {

	.iconbox_icon.heading-color {
		display: block;
		width: 100%;
		font-size: 40px;
		margin-bottom: 20px;
	}

	.iconbox_content_title {
		font-size: 22px;
		text-align: center;
		line-height: 30px;
	}
}

#after_layer_slider_1 {

	.template-page.content.av-content-full {
		padding: 100px 0;
	}
}


#av_section_1 {

	.avia-icon-list .iconlist_content {
		font-size: 14px;
	}
}

}

