.menu.av-main-nav .avia-menu-text {
  font-size: 16px; }
.menu.av-main-nav .avia-menu-fx {
  height: 3px; }

.avia-button {
  border-radius: 4px !important;
  border: none !important;
  text-transform: uppercase; }

.home.page .entry-content-header .iconbox_icon.heading-color {
  display: block;
  width: 100%;
  font-size: 40px;
  margin-bottom: 20px; }
.home.page .entry-content-header .iconbox_content_title {
  font-size: 22px;
  text-align: center;
  line-height: 30px; }
.home.page #after_layer_slider_1 .template-page.content.av-content-full {
  padding: 100px 0; }
.home.page #av_section_1 .avia-icon-list .iconlist_content {
  font-size: 14px; }
