.fl {
  float: left; }

.fr {
  float: right; }

.product_cat a {
  padding: 13px 30px; }

.product_cat,
#baux_filter {
  border-top: 1px solid #f5f4f4; }

.product_cat a.active, .product_cat a:hover {
  background: none; }

.filter-container {
  border-bottom: 1px solid #f5f4f4; }

.filter-list {
  padding: 18px 0 2px;
  border-top: 1px solid #f5f4f4;
  border-bottom: 1px solid #f5f4f4; }
  .filter-list .filter-item {
    width: 25%;
    margin: 10px 0; }
    .filter-list .filter-item a {
      margin: 0 0 8px; }
  .filter-list.sub-level {
    padding: 20px 15px; }

.filter-patterns .ticon {
  background: #f5f4f4; }

.filter-col {
  border-right: 1px solid #f5f4f4; }
  .filter-col:last-of-type {
    border-right: 0; }
  .filter-col .filter-toggle {
    padding: 13px 0px;
    background: none; }
  .filter-col .filter-colors a {
    font-weight: 600; }
    .filter-col .filter-colors a .ticon {
      margin-right: 15px; }
    .filter-col .filter-colors a .ticon {
      margin: 2px 15px 0 0;
      width: 20px;
      height: 20px;
      float: left;
      border-radius: 2px;
      box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2); }

.sub-cat {
  margin-left: 0; }
  .sub-cat .sub-filter-toggle {
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    border-bottom: 2px solid #fff;
    margin-bottom: -2px;
    display: inline-block;
    margin: 0 20px -1px 0; }
    .sub-cat .sub-filter-toggle.active {
      border-bottom: 2px solid #32343B; }

.colors-sub-items {
  margin-left: 0;
  padding: 10px 0 0; }
  .colors-sub-items ul {
    margin: 10px 0 0; }

.filter-col .filter-list li span {
  text-transform: uppercase; }

.filter-col .filter-list .filter-item {
  margin: 0; }
  .filter-col .filter-list .filter-item a {
    margin: 0;
    opacity: 1;
    color: #7d797a; }
    .filter-col .filter-list .filter-item a.active {
      color: #525252; }

.filter-col .filter-list.filter-list-colors li ul {
  margin: 4px 0 10px;
  width: 77%;
  float: left; }
  .filter-col .filter-list.filter-list-colors li ul .filter-item > a .ticon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .filter-col .filter-list.filter-list-colors li ul .filter-item > a .ticon > i {
      color: #000;
      opacity: 0;
      -webkit-transition: .1s ease-out;
      transition: .1s ease-out;
      font-size: 14px; }
  .filter-col .filter-list.filter-list-colors li ul .filter-item > a.active .ticon > i {
    opacity: 0.55; }

.filter-col .filter-list.filter-list-colors .collection {
  width: 23%;
  float: left; }
  .filter-col .filter-list.filter-list-colors .collection.active .ticon > i {
    opacity: 0.7; }
  .filter-col .filter-list.filter-list-colors .collection .ticon {
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 14px;
    width: 20px;
    float: left;
    height: 20px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 3px 15px 0 0; }
    .filter-col .filter-list.filter-list-colors .collection .ticon > i {
      position: absolute;
      margin: 2px 3px;
      opacity: 0;
      -webkit-transition: .1s ease-out;
      transition: .1s ease-out; }

.filter-col .btn-custom {
  border: 1px solid silver;
  display: inline-block;
  padding: 5px 17px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #777;
  margin-right: 15px;
  cursor: pointer;
  opacity: 0.6;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out; }
  .filter-col .btn-custom:hover {
    opacity: 1; }

.filter-btn-container {
  display: inline-block;
  border-top: 1px solid #F5F4F4;
  padding: 20px 30px 0;
  margin: 10px -28px 0;
  width: calc(100% + 43px); }
  .filter-btn-container .filter-col-btn {
    display: inline-block; }

.filter-list-patterns li a .ticon svg {
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out; }

.filter-list-patterns li a .ticon i {
  position: absolute;
  font-size: 20px;
  opacity: 0;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out; }

.filter-list-patterns li a.active .ticon svg {
  opacity: 0; }

.filter-list-patterns li a.active .ticon i {
  opacity: 1; }
