/*
#navbar-bg {
	height: 86px;

	.fourty #logo {
		padding-top: 26px;
	}

	.fluid-menu {
		margin-top: -14px;
	}

	&.transparent {
		height: 116px;
	}
}

*/


#navbar-bg.transparent {

	.fluid-logo.twenty #logo {
		padding-top: 40px;
	}

	.fluid-menu {
		margin-top: 20px;
	}
}

section#thumbnails .thumb .thumb-inner .thumb-hover h3 {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 800;
	padding: 50px;

	span {
		margin-top: 16px;
		font-size: 15px;
	}
}

#content_kqqdd8ffo {

	.live-image {
		max-width: 70px !important;
	}
}


