
// Breakpoints

@mixin bp($point) {
	@if $point == xs {
		@content;
	}
	@else if $point == xs-sm {
		@media (max-width: 767px)  { @content ; }
	}
	@else if $point == xs-md {
		@media (max-width: 991px)  { @content ; }
	}
	@else if $point == xs-lg {
		@media (max-width: 1199px)  { @content ; }
	}
	@else if $point == sm {
		@media (min-width: 768px) { @content ; }
	}
	@else if $point == sm-md {
		@media (min-width: 768px) and (max-width: 991px)  { @content ; }
	}
	@else if $point == sm-lg {
		@media (min-width: 768px) and (max-width: 1199px)  { @content ; }
	}
	@else if $point == md {
		@media (min-width: 992px) { @content ; }
	}
	@else if $point == md-lg {
		@media (min-width: 992px) and (max-width: 1199px)  { @content ; }
	}
	@else if $point == lg {
		@media (min-width: 1200px) { @content ; }
	}
	@else if $point == xl {
		@media (min-width: 1400px) { @content ; }
	}
	@else if $point == xxl {
		@media (min-width: 1600px) { @content ; }
	}
}

$textcolor:						#66666E;
$darkgray:						#33333e;
$gray:                          #B6B6BB;
$edgeblue:						#1A60CE;

$corner-padding:                40px;
$grid-width:                    1360px;
$serif:                         'Droid serif', georgia, serif;




.sqs-col-1 {
    width: 8.3333%;
}

.sqs-col-2 {
    width: 16.6667%;
}

.sqs-col-3 {
    width: 25%;
}

.sqs-col-4 {
    width: 33.3333%;
}

.sqs-col-5 {
    width: 41.6667%;
}

.sqs-col-6 {
    width: 50%;
}

.sqs-col-7 {
    width: 58.3333%;
}

.sqs-col-8 {
    width: 66.6667%;
}

.sqs-col-9 {
    width: 75%;
}

.sqs-col-10 {
    width: 83.3333%;
}

.sqs-col-11 {
    width: 91.6667%;
}

.sqs-col-12 {
    width: 100%;
}


@include bp(xs-sm) {
	p {
		line-height: 30px;
	}
}

@font-face {
	font-family: 'brandberry-font';
	src: url('https://jonathanolsen.github.io/brandberry/fonts/brandberry/brandberry-font.eot');
	src: url('https://jonathanolsen.github.io/brandberry/fonts/brandberry/brandberry-font.eot?#iefix') format('embedded-opentype'),
		 url('https://jonathanolsen.github.io/brandberry/fonts/brandberry/brandberry-font.woff') format('woff'),
		 url('https://jonathanolsen.github.io/brandberry/fonts/brandberry/brandberry-font.svg') format('svg'),
		 url('https://jonathanolsen.github.io/brandberry/fonts/brandberry/brandberry-font.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'brandberry-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-development:before {
	content: "\ea3a";
}
.icon-strategy:before {
	content: "\e9ea";
}
.icon-design:before {
	content: "\e8f7";
}
.icon-optimization:before {
	content: "\e83e";
}

@font-face {
	font-family: 'appetiteregular';
	src: url('https://jonathanolsen.github.io/brandberry/fonts/appetite/appetite_contrast-webfont.eot');
	src: url('https://jonathanolsen.github.io/brandberry/fonts/appetite/appetite_contrast-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://jonathanolsen.github.io/brandberry/fonts/appetite/appetite_contrast-webfont.woff2') format('woff2'),
		 url('https://jonathanolsen.github.io/brandberry/fonts/appetite/appetite_contrast-webfont.woff') format('woff'),
		 url('https://jonathanolsen.github.io/brandberry/fonts/appetite/appetite_contrast-webfont.svg') format('svg'),
		 url('https://jonathanolsen.github.io/brandberry/fonts/appetite/appetite_contrast-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}




.appetite {
	font-family: 'appetiteregular';
}

.open-nav {

	.logo svg {
		fill: #fff !important;
	}

	#navbar .controls a .nav-icon {
		background: #fff !important;
	}
}

#navbar-bg.transparent {

	.fluid-logo.twenty #logo {
		padding-top: 40px;
	}

	.fluid-menu {
		margin-top: 20px;
	}
}

section#thumbnails .thumb .thumb-inner .thumb-hover h3 {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 800;
	padding: 50px;

	span {
		margin-top: 16px;
		font-size: 15px;
	}
}

#content_kqqdd8ffo {

	.live-image {
		max-width: 70px !important;
	}
}



.cta-btn {
	font-size: 15px;
	color: #fff;
	letter-spacing: 1px;
	background: #36b3a8;
	padding:15px 60px 15px 60px;
	border-radius: 2px;
	text-transform: uppercase;
}

.bolder {
	font-weight: 800;
}

@include bp(sm) {
	.reverse-row-desktop {

		> div {

			.masonry-span6 {
				left: 49.9729% !important;

				&:last-of-type {
					left: 0 !important;
				}
			}
		}
	}

}

.border-top,
#content_dmu3rz7e8 { 
	border-top: 1px solid rgba(0, 0, 0, .1);
}
#content {

.project-info {

	.mc-sub-content-container .column-image img.live-image {
		max-width: 150px !important;
		margin-bottom: 30px;
		margin-top: -15px;
	}

	&.reve {
		.mc-sub-content-container .column-image img.live-image {
			max-width: 100px !important;
			margin-bottom: 40px;
		}
	}

	&.notis {
		.mc-sub-content-container .column-image img.live-image {
			margin-bottom: 37px !important;
		}
	}

	&.qred {
		.mc-sub-content-container .column-image img.live-image {
			max-width: 120px !important;
			margin-bottom: 36px;
		}
	}
}

}

#content .mc-content-container.client-logos {

	> .container {
		width: 100%;
		max-width: 1400px;
	}

	img {
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		opacity: .45;
		transition: .3s ease-out;
		max-width: 200px !important;

		&:hover {
			-webkit-filter: grayscale(0);
			-moz-filter: grayscale(0);
			opacity: 1;
		}
	}
}

.sqs-col-1,
.sqs-col-2,
.sqs-col-3,
.sqs-col-4,
.sqs-col-5,
.sqs-col-6,
.sqs-col-7,
.sqs-col-8,
.sqs-col-9,
.sqs-col-10,
.sqs-col-11 {
	width: 100%;
}

.sqs-col-1 {
    width: 8.3333%;
}

.sqs-col-2 {
    width: 16.6667%;
}

.sqs-col-3 {
    width: 25%;
}

.sqs-col-4 {
    width: 33.3333%;
}

.sqs-col-5 {
    width: 41.6667%;
}

.sqs-col-6 {
    width: 50%;
}

.sqs-col-7 {
    width: 58.3333%;
}

.sqs-col-8 {
    width: 66.6667%;
}

.sqs-col-9 {
    width: 75%;
}

.sqs-col-10 {
    width: 83.3333%;
}

.sqs-col-11 {
    width: 91.6667%;
}

.sqs-col-12 {
    width: 100%;
}














@include bp(xs-sm) {
	section#thumbnails .thumb .thumb-inner .thumb-hover h3 {
		line-height: 40px !important;
		padding: 40px;
	
		span {
			line-height: 25px;
			margin-top: 10px;
		}
	}

	.page-id-160 {

		#content .content-container .image img {
			width: auto !important;
		}
	}
}

.page-id-10 {

	.fullscreen-cover {
		max-height: 480px;

		.cover-headline {

			> h1 {
				font-size: 40px !important;
				line-height: 60px !important;
			}
		}
	}

	@include bp(xs-sm) {
		#content .content-container .image img {
		    width: auto !important;
		}
	}
}

.page-id-142 {

	.cover-image {
		max-height: 700px;
		background-position: center center !important;
	}

	.fullscreen-cover {
		max-height: 480px;
	}

	@include bp(xs-sm) {
		.cover-headline h1 {
			font-size: 40px !important;
		    line-height: 46px !important;
		}
	}

	@include bp(sm) {
		.fullscreen-cover {
			max-height: 700px;
		}
	}

	.team-list {
		width: 100%;
		max-width: 1100px;
		margin: 0 auto;
		@include bp(sm) {
			display: flex;
			flex-wrap: wrap;
		} 
		
		.team-member {
			width: 100%;
			@include bp(sm) { width: 30%; }
			float: left;
			padding: 30px;
			box-sizing: border-box;
			background: #f6f7f8;
			margin: 0 1.5% 30px;
			transition: .2s all ease-out;
			transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
			border-radius: 3px;
			text-align: center;
			@include bp(sm) { max-height: 620px; }

			img {
				width: 84%;
				margin-bottom: 15px;
			}

			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 0;
				border-radius: 3px;
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
				transition: opacity .2s ease-in-out;
				top: 0;
				left: 0;
				z-index: -1;
			}

			&:hover {
				background: #fff;
				transform: scale(1.04);
				box-shadow: 0 4px 6px rgba(0, 0, 0, .1);

				&:after {
					opacity: 1;
				}
			}

			h3, p {
				text-align: center;
			}

			h3 {
				text-transform: uppercase;
				font-size: 18px;
				line-height: 30px;
				margin-bottom: 10px;
				font-weight: bold;

				span {
					display: block;
					font-size: 14px;
					text-transform: none;
					color: #999;
					font-weight: 300;
					font-style: italic;
					letter-spacing: 0;
				}
			}

			p {
				min-height: 100px;
				font-size: 16px;
				line-height: 28px;
			}

			a {
				color: #219BCC;

				&:hover {
					background-color: #219BCC;
				}
			}

			ul {
				margin: 15px 0 0;
				padding: 0;
				display: flex;
				justify-content: center;

				li {
					list-style-type: none;
					float: left;

					&.mail {

						a:hover {
							background: #99D46D;
						}
					}

					&.linkedin {

						a:hover {
							background: #0077B5;
						}
					}

					&.dribbble {

						a:hover {
							background: #EA4C89;
						}
					}

					a {
						display: inline-block;
						width: 50px;
						height: 50px;
						line-height: 50px;
						text-align: center;
						font-size: 22px;
						border-radius: 4px;
						transition: all .1s ease-out;
						color: #777;

						&:hover {
							background: #219BCC;
							color: #fff;
						}
					}
				}
			}

			.btn {
				margin-top: 18px;
				display: inline-block;
			}
		}
	}

	.grid-container {
		width: 100%;
		max-width: $grid-width;
		background: #fff;
		margin: 0 auto;
		position: relative;
		color: #3e3947;
	}

	.page-services {

		.grid-container {
			max-width: 1600px !important;
			background: none;
			margin: 0 auto;
		}
	}

	.services {

		.row {
			@include bp(sm) { display: flex; }
			margin: 0;

			> div {
				background: #fff;
				text-align: center;
				padding: 0;
				box-shadow: 0 0 1px darken($gray, 10%);
				transition: .2s ease-out;

				> ul {
					text-align: left;
					border-top: 1px solid #F0F8FA;
					padding: 20px 30px;
					list-style-type: none;
					margin-left: 0;
					margin-bottom: 0;

					li {
						font-family: $serif;
						font-style: italic;
						margin: 10px 0;
						padding-left: 44px;
						color: #737f82;
						position: relative;

						&:before {
							background: #C1CCD1;
							width: 22px;
							height: 2px;
							position: absolute;
							top: 15px;
							left: 0;
							content: '';
						}
					}
				}

				.headline {
					padding: 50px 0;

					> i {
						font-size: 40px;
					}

					h2 {
						margin-bottom: 0;
						font-size: 26px;
						margin-top: 10px;
					}
				}
			}

			.span-3 {
				width: 100%;

				@include bp(sm) {
					width: 50%;
				}

				@include bp(md) {
					width: 25%;
				}
			}
		}
	}

	.approach {

		.row {
			display: flex;
			transition: .1s all ease-out;
			margin: 0;

			/* &:hover {
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
				position: relative;
				transform: scale(1.04);
			} */

			> div {
				background: #fff;
				text-align: center;
				padding: 0;
				display: flex;
				align-content: center;
				box-shadow: 0 0 1px darken($gray, 10%);
				transition: .2s ease-out;

				h3 {
					font-size: 22px;
					font-weight: bold;
					text-transform: none;
					margin-bottom: 10px;
				}

				h4.appetite {
					font-size: 80px;
					line-height: 0;
					color: $darkgray;
					align-self: center;
					margin: 0;
				}

				&:first-of-type {
					justify-content: center;
				}
			}

			.content {
				max-width: 84%;
				padding: 50px;
				text-align: left;

				p {
					margin-bottom: 0;
				}
			}
		}
	}
}


.page-id-217 {

	.fullscreen-cover {
		max-height: 600px;

		@include bp(xs-md) {
			max-height: 480px;
		}

		.cover-headline {
			@include bp(sm) {
				padding: 0 170px;
			}

			margin-top: -40px;

			@include bp(xs-md) {

				h1 {
					text-transform: none !important;
					font-size: 24px !important;
					line-height: 44px !important;

					@include bp(xs-sm) {
						span {
							display: block;
							font-size: 40px;
						}
					}
				}
			}
		}
	}
}

.box-container {
	margin-top: -120px;

	.box {
		width: 100%;
		background: $edgeblue;
		color: #fff;
		padding: 50px;
		float: left;

		@include bp(sm) {
			width: 50%;
		}

		&.gray {
			background: #3B3D3F;
			@include bp(sm) { margin-top: -30px; }

			a:hover {
				color: #999;
			}
		}

		h3 {
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 10px;
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		a {
			font-size: 24px;
			font-weight: 600;
			color: #fff;
			font-family: gotham;

			@include bp(sm) {
				font-size: 40px;
			}

			&:hover {
				color: lighten($edgeblue, 30%);
			}
		}
	}
}


.office-box {

	.container {
		@include bp(md) { width: 1360px !important; }
		border: 1px solid rgba(0, 0, 0, 0.05);
	}
}


#typeform-full {
	position: fixed;
	left:0;
	right:0;
	bottom:0;
	top:0;
	border:0;
	display: none;
	z-index: 999;
}

.close-typeform {
	background: #1049AD;
	color: #ABC7F7;
	border: 1px solid #0D3A89;
	border-radius: 2px;
	position: fixed;
	bottom: 10px;
	left: 10px;
	font-size: 13px;
	font-weight: 600;
	padding: 4px 18px 2px;
	z-index: 1000;
	display: none;

	&:hover {
		background: #145DDC;
	}
}

