

.control.checkbox {
	cursor: pointer;
	position: relative;
	display: inline-block;



	input {
		position: absolute;
		opacity: 0;
		z-index: -1;

		+ span {
			display: block;
			padding: 0 0 0 30px;

			&:before {
				content: '';
				position: absolute;
				top: .05rem;
				left: 0;
				display: block;
				width: 2rem;
				height: 2rem;
				line-height: 1rem;
				font-size: 65%;
				color: #eee;
				text-align: center;
				background-color: #eee;
				background-size: 50% 50%;
				background-position: center center;
				background-repeat: no-repeat;
				pointer-events: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				border-radius: 3px;
			}
		}

		&:checked + span:before {
		    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=');
			color: #fff;
			background-color: #0074d9;
		}
	}
}


