
.photoslider {
	background-size: cover;
	padding: 100px 0 120px;

	.flickity-page-dots {
		margin-bottom: -50px;
	}

	.headline h1 {
		font-size: 36px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.carousel {
		img {
			height: 520px;
			margin-right: 50px;
		}
	}
}