p, .p {
  font-size: 14px;
  line-height: 26px; }

.grid-item.add-new > a {
  font-size: 15px;
  color: #808286; }
.grid-item .part {
  padding: 18px 25px; }
  .grid-item .part.content {
    border-bottom: none; }
    .grid-item .part.content li {
      margin: 8px 0;
      font-size: 15px; }
      .grid-item .part.content li span {
        font-weight: 600; }
  .grid-item .part.headline .status {
    margin: 0 0 6px 2px;
    width: 9px;
    height: 9px;
    display: inline-block; }

.tabs-nav li a {
  font-size: 16px; }
  .tabs-nav li a i {
    color: #2b9ce8;
    margin-right: 8px;
    font-style: normal;
    font-weight: bold; }

.modal .modal-dialog.large {
  max-width: 1000px; }
.modal .input-small-info {
  right: 0;
  top: 1px;
  font-size: 11px; }
.modal .tab-content .modal-body > .row {
  margin-left: 0;
  margin-right: 0; }
.modal .tab-content .col {
  padding: 25px 40px 40px 35px; }
