.control.checkbox {
  cursor: pointer;
  position: relative;
  display: inline-block; }
  .control.checkbox input {
    position: absolute;
    opacity: 0;
    z-index: -1; }
    .control.checkbox input + span {
      display: block;
      padding: 0 0 0 30px; }
      .control.checkbox input + span:before {
        content: '';
        position: absolute;
        top: .05rem;
        left: 0;
        display: block;
        width: 2rem;
        height: 2rem;
        line-height: 1rem;
        font-size: 65%;
        color: #eee;
        text-align: center;
        background-color: #eee;
        background-size: 50% 50%;
        background-position: center center;
        background-repeat: no-repeat;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-radius: 3px;
        -webkit-transition: .1s ease-out;
        transition: .1s ease-out; }
    .control.checkbox input:checked + span:before {
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=");
      color: #fff;
      background-color: #0074d9; }
    .control.checkbox input:disabled + span {
      opacity: .5; }
