$blue:					#4D9EFF;
$pink:					#EF4BAF;
$darkpink:				#4C3844;

#headerNav {
	margin: auto !important;

	.collection {
		margin: auto !important;
	}
}

#headerNav #mainNavWrapper #mainNavigation 	.index.home:first-of-type {
	display: inline-block !important;
}

#mainNavigation {
	.index.home {
		display: none !important;
	}
}

.cta-btn {
	background: $blue;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding: 16px 28px;
	border-radius: 2px;
	font-size: 18px;
	text-align: center;
}

#home-section {

	.cta-btn {
		background: $pink;

		&:hover {
			background: $darkpink;
		}
	}
}

#preFooter {
	display: none;
}

#footerBlocks {

	a {
		
	}
}