

section {
	margin-top: 0;
	
	&.section {
		border-bottom: 1px solid #dcddde;
		padding: 40px 0;
	}

	&.questions {
		border-top: none;
	}
}

div.row.steps {

	h3 {
		font-size: 18px;

		&:after {
			content: '';
		}
	}
}

