section.section {
  border-bottom: 1px solid #dcddde;
  padding: 40px 0; }

section.questions {
  border-top: none; }

div.row.steps h3 {
  font-size: 18px; }
  div.row.steps h3:after {
    content: ''; }
