.product_cat a {
  padding: 13px 30px; }

.product_cat,
#baux_filter {
  border-top: 1px solid #f5f4f4; }

.filter-container {
  border-bottom: 1px solid #f5f4f4; }

.filter-list {
  padding: 18px 0 2px;
  border-top: 1px solid #f5f4f4;
  border-bottom: 1px solid #f5f4f4; }
  .filter-list .filter-item {
    width: 25%;
    margin: 10px 0; }
    .filter-list .filter-item a {
      margin: 0 0 8px; }
  .filter-list.sub-level {
    padding: 0; }

.filter-patterns .ticon {
  background: #f5f4f4; }

.filter-col {
  border-right: 1px solid #f5f4f4; }
  .filter-col:last-of-type {
    border-right: 0; }
  .filter-col .filter-toggle {
    padding: 13px 0px; }
    .filter-col .filter-toggle:hover {
      background: #fff; }
  .filter-col .filter-colors a {
    font-weight: 600; }
    .filter-col .filter-colors a .ticon {
      margin-right: 15px; }
    .filter-col .filter-colors a .ticon {
      margin: -8px 15px 0 0;
      width: 42px;
      height: 42px;
      float: left;
      border-radius: 2px; }

.sub-cat {
  margin-left: 0; }
  .sub-cat .sub-filter-toggle {
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    border-bottom: 2px solid #fff;
    margin-bottom: -2px;
    display: inline-block;
    margin: 0 20px -1px 0; }
    .sub-cat .sub-filter-toggle.active {
      border-bottom: 2px solid #32343B; }

.colors-sub-items {
  margin-left: 0;
  padding: 10px 0 0; }
  .colors-sub-items ul {
    margin: 10px 0 0; }
